* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  background-color: #fff; }

.container {
  width: 1140px;
  margin: 0 auto; }

.container::after {
  content: '';
  display: block;
  clear: both;
  height: 0; }

.clearfix {
  content: '';
  display: block;
  clear: both;
  height: 0; }

.small-title {
  font: 16px/50px Exo-Regular, sans-serif;
  letter-spacing: 4px;
  color: #ff6d6d; }

.other-caption {
  font: 35px/40px Exo-Regular, sans-serif;
  letter-spacing: 3px; }

.text {
  margin-top: 40px;
  display: inline-block;
  width: 585px;
  font: 16px/26px Exo-Thin, sans-serif;
  color: #282828; }

h3.subtitle {
  font: 22px/50px Exo-Regular, sans-serif;
  letter-spacing: 3px; }

@font-face {
  font-family: Exo-Regular;
  src: url(../fonts/Exo-Regular.otf); }

@font-face {
  font-family: Exo-Thin;
  src: url(../fonts/Exo-Thin.otf); }

.header {
  width: 100%;
  height: 810px;
  background: url(../img/header-bg.jpg) no-repeat top center;
  -webkit-background-size: cover;
          background-size: cover;
  text-align: center; }
  .header__caption_inner {
    padding-top: 170px;
    font: 60px/75px Exo-Thin, sans-serif; }
  .header__play {
    padding: 40px;
    width: 100%;
    height: 60px;
    background: url(../img/header-play.png) no-repeat center center;
    margin-top: 50px;
    margin-bottom: 40px; }
  .header__button {
    display: inline-block;
    background: #ff6d6d;
    padding: 15px 50px;
    font: 16px Exo-Regular, sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    color: #fff;
    -webkit-border-radius: 4px;
            border-radius: 4px; }
    .header__button:hover {
      background: #e35454;
      color: #fff; }
    .header__button a:hover {
      text-decoration: none; }
  .header__text_inner {
    font: 14px/40px Exo-Regular, sans-serif;
    color: #000; }

.information {
  position: relative;
  background: #fff;
  width: 100%; }
  .information__title {
    margin-top: 190px; }
  .information__image {
    position: absolute;
    top: -190px;
    left: 781px;
    width: 568px;
    height: 710px;
    background: url(../img/triangle.png) no-repeat center center; }

.awesome {
  position: relative;
  text-align: center;
  background-color: #f6f5f3;
  margin-top: 140px;
  width: 100%; }
  .awesome__wrap {
    padding-top: 130px; }
  .awesome__items_item {
    line-height: 16px;
    float: left;
    padding: 120px 18px 0;
    width: 30%;
    text-align: center;
    height: 128px; }
  .awesome__items_photos {
    background: url(../img/photos.png) no-repeat center top; }
  .awesome__items_plane {
    background: url(../img/plane.png) no-repeat center top; }
  .awesome__items_alien {
    background: url(../img/alien.png) no-repeat center top; }
