@font-face {
  font-family: futurabook;
  src: url(../fonts/FuturaPTBook.otf);
}

@font-face {
  font-family: futurabook_bold;
  src: url(../fonts/FuturaPTBold.otf);
}

@font-face {
  font-family: futurabook_light;
  src: url(../fonts/FuturaPTLight.otf);
}

@font-face {
  font-family: futurabook_demi;
  src: url(../fonts/FuturaPTDemi.otf);
}

@font-face {
  font-family: futurabook_extraBold;
  src: url(../fonts/FuturaPTExtraBold.otf);
}

@font-face {
  font-family: futurabook_heavy;
  src: url(../fonts/FuturaPTHeavy.otf);
}

@font-face {
  font-family: futurabook_medium;
  src: url(../fonts/FuturaPTMedium.otf);
}

body {
  width: 100%;
}

*, :after, :before {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
}

.active {
  font-weight: bold;
}

.header-futura p {
  font: 17px futurabook, sans-serif;
}

.header__navbar {
  padding: 80px 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.header__navbar_wrap {
  background-color: #fff;
}

.header__navbar_logo {
  background: url(../img/logo.png) no-repeat center center;
  -webkit-background-size: contain;
  background-size: contain;
  width: 20%;
  height: 90px;
  margin-left: 2em;
}

.header__navbar_copy {
  width: 26%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  align-items: center;
}

.header__navbar_menu {
  width: 54%;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  align-items: center;
  font: 17px futurabook, sans-serif;
}

.header__navbar_menu a {
  color: #000;
  padding: 1em;
  display: block;
  text-decoration: none;
}

.info__wrap {
  background: url(../img/bg.png) no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
}

.contact {
  padding-top: 275px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.contact__phone {
  text-align: center;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.contact__phone span a {
  font: 90px futurabook, sans-serif;
  color: #fff;
}

.contact__mail {
  font: 50px futurabook, sans-serif;
  color: #fff;
  margin-top: 60px;
}

.contact__consultation form {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 135px;
  align-items: center;
}

.contact__consultation_input {
  font: 29px futurabook, sans-serif;
  padding: 20px;
  width: 630px;
  background-color: rgba(255, 255, 255, .5);
  color: #e9f0f5 !important;
  border: none;
}

.contact__consultation_indent {
  margin-top: 20px;
}

.contact__consultation_input::-webkit-input-placeholder {
  color: #e9f0f5 !important;
}

.contact__consultation_button {
  margin-top: 60px;
  background-color: #d9e9f1;
  border: none;
  font: 25px futurabook_bold, sans-serif;
  color: #595959;
  padding: 28px;
  width: 460px;
  cursor: pointer;
}

.gradient_text {
  margin-top: 140px;
  text-align: center;
  text-transform: uppercase;
  font: 150px futurabook_bold, sans-serif;
  line-height: 150px;
  color: #a130a1;
  width: 100%;
}

.statistics__wrap {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}

.statistics__block {
  width: 33%;
  margin: 260px 0;
}

.statistics__block_number span {
  display: block;
  font: 100px futurabook_light, sans-serif;
}

.statistic__block_description span {
  font: 16px futurabook, sans-serif;
}

.partners__wrap {
  background-color: #fff;
  padding: 100px 0;
  width: 100%;
}

.partners__inner {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: center;
}

.partners__inner img {
  width: 95%;
  height: 95%;
}

.clients__wrap {
  padding: 120px 0;
}

.clients .gradient_text {
  margin: 0;
}

.projects__wrap {
  background-color: #fff;
  padding: 70px 0 100px 0;
}

.projects__block {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
}

.projects__block_glasses-image {
  width: 50%;
}

.projects__block_glasses-image img {
  width: 120%;
  height: 110%;
  position: relative;
  left: -25%;
}

.projects__block_glasses-text {
  width: 50%;
  padding-left: 10%;
}

.projects__block_refueling-image {
  width: 40%;
}

.projects__block_refueling-image img {
  width: 100%;
  height: 110%;
}

.projects__block_refueling-text {
  width: 60%;
  padding: 7% 0 0 15%;
}

.projects__block_title {
  margin-top: 70px;
}

.projects__block_description {
  margin-top: 60px;
}

.projects__block_link {
  margin-top: 65px;
}

.projects__block_title span {
  font: 38px futurabook_heavy, sans-serif;
  color: #333;
}

.projects__block_description span {
  font: 18px futurabook, sans-serif;
  color: #4d4d4d;
}

.projects__block_link span a {
  font: 22px futurabook_demi, sans-serif;
  color: #333;
  text-decoration: underline;
}

.projects__title .gradient_text {
  margin: 0;
}

.offering__wrap {
  padding: 130px 0 120px;
}

.offering {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
}

.offering__block {
  margin-top: 65px;
}

.offering__block:first-child {
  margin-top: 0;
}

.offering__block span {
  font: 100px futurabook_light, sans-serif;
}

.bests, .communication, .piar {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  text-align: center;
}

.bests span {
  font: 29px futurabook, sans-serif;
  margin: 0 auto 190px;
}

.communication span {
  font: 74px futurabook_bold, sans-serif;
  margin: 0 auto 50px;
}

.piar span {
  font: 29px futurabook, sans-serif;
  margin: 0 auto 140px;
}

.contact__consultation_bottom {
  padding-bottom: 140px;
}

.contact__consultation_bottom form {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: center;
}

.contact__consultation_bottom-input {
  font: 29px futurabook, sans-serif;
  padding: 20px;
  width: 630px;
  background-color: #fff;
  color: #b3b3b4 !important;
  border: none;
}

.contact__consultation_bottom-indent {
  margin-top: 20px;
}

.contact__consultation_bottom-input::-webkit-input-placeholder {
  color: #b3b3b4 !important;
}

.contact__consultation_bottom-button {
  margin-top: 60px;
  background-color: #8431a6;
  border: none;
  font: 25px futurabook_bold, sans-serif;
  color: #fff;
  padding: 28px;
  width: 460px;
  cursor: pointer;
}

.footer__navbar {
  padding: 80px 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.footer__navbar {
  background-color: #fff;
}

.footer__navbar_logo {
  background: url(../img/logo.png) no-repeat center center;
  -webkit-background-size: contain;
  background-size: contain;
  width: 25%;
  height: 90px;
  margin-left: 2column
}

.footer__navbar_info {
  width: 25%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.footer__navbar_info-languages a {
  color: #000;
}

.footer__navbar_info-phone, .footer__navbar_info-mail {
  font: 18px futurabook, sans-serif;
}

.footer__navbar_menu {
  width: 50%;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  align-items: center;
  font: 17px futurabook, sans-serif;
}

.footer__navbar_menu a {
  color: #000;
  padding: 1em;
  display: block;
  text-decoration: none;
}

@media only screen and (max-width: 320px) {
  .header__navbar {
    padding: 25px 0;
  }
  .header-futura p {
    font: 5px futurabook, sans-serif;
  }
  .header__navbar_menu {
    font: 5px futurabook, sans-serif !important;
  }
  .header__navbar_menu a {
    padding: 0.4em;
  }
  .header__navbar_logo {
    width: 20%;
    height: 25px;
    margin-left: 0.7em;
  }
  .contact__phone span a {
    font: 20px futurabook, sans-serif;
  }
  .contact {
    padding-top: 57px;
  }
  .contact__mail {
    font: 12px futurabook, sans-serif;
    margin-top: 7px;
  }
  .contact__consultation form {
    margin-top: 35px;
  }
  .contact__consultation_input {
    font: 5px futurabook, sans-serif;
    padding: 3px;
    width: 130px;
  }
  .contact__consultation_indent {
    margin-top: 6px;
  }
  .contact__consultation_button {
    margin-top: 8px;
    font: 6px futurabook_bold, sans-serif;
    padding: 4px;
    width: 90px;
  }
  .gradient_text {
    margin-top: 20px;
    font: 30px futurabook_bold, sans-serif;
  }
  .statistics__block {
    width: 33%;
    margin: 30px 0;
  }
  .statistics__block_number span {
    font: 15px futurabook_light, sans-serif;
  }
  .statistic__block_description span {
    font: 6px futurabook, sans-serif;
  }
  .partners__wrap {
    padding: 40px 0;
    width: 100%;
  }
  .clients__wrap {
    padding: 40px 0;
  }
  .projects__block_title span {
    font: 8px futurabook_heavy, sans-serif;
    color: #333;
  }
  .projects__block_description span {
    font: 5px futurabook, sans-serif;
    color: #4d4d4d;
  }
  .projects__block_link span a {
    font: 7px futurabook_demi, sans-serif;
    color: #333;
    text-decoration: underline;
  }
  .projects__wrap {
    padding: 20px 0;
  }
  .projects__block_title {
    margin-top: 20px;
  }
  .projects__block_description {
    margin-top: 0px;
  }
  .projects__block_link {
    margin-top: 0px;
  }
  .projects__title .gradient_text {
    margin-top: 5px;
  }
  .offering__wrap {
    padding: 36px 0 19px;
  }
  .offering__block span {
    font: 20px futurabook_light, sans-serif;
  }
  .offering__block {
    margin-top: 15px;
  }
  .bests span {
    font: 10px futurabook, sans-serif;
    margin: 20px auto 40px;
  }
  .communication span {
    font: 16px futurabook_bold, sans-serif;
    margin: 0 auto 30px;
  }
  .piar span {
    font: 6px futurabook, sans-serif;
    margin: 0px auto;
  }
  .contact__consultation_bottom {
    padding-bottom: 40px;
  }
  .contact__consultation_bottom form {
    margin-top: 35px;
  }
  .contact__consultation_bottom-input {
    font: 5px futurabook, sans-serif;
    padding: 3px;
    width: 130px;
  }
  .contact__consultation_bottom-indent {
    margin-top: 6px;
  }
  .contact__consultation_bottom-button {
    margin-top: 8px;
    font: 6px futurabook_bold, sans-serif;
    padding: 4px;
    width: 90px;
  }
  .footer__navbar {
    padding: 25px 0;
  }
  .footer__navbar_menu {
    font: 5px futurabook, sans-serif !important;
  }
  .footer__navbar_menu a {
    padding: 0.4em;
  }
  .footer__navbar_logo {
    height: 25px;
    margin-left: 0.7em;
  }
  .footer__navbar_info {
    margin-left: 0.4em;
  }
  .footer__navbar_info-phone, .footer__navbar_info-languages, .footer__navbar_info-mail {
    font: 5px futurabook, sans-serif;
  }
}

@media only screen and (max-width: 375px) {
  .header__navbar {
    padding: 25px 0;
  }
  .header-futura p {
    font: 7px futurabook, sans-serif;
  }
  .header__navbar_menu {
    font: 6px futurabook, sans-serif;
  }
  .header__navbar_menu a {
    padding: 0.4em;
  }
  .header__navbar_logo {
    width: 20%;
    height: 25px;
    margin-left: 0.8em;
  }
  .contact__phone span a {
    font: 25px futurabook, sans-serif;
  }
  .contact {
    padding-top: 65px;
  }
  .contact__mail {
    font: 15px futurabook, sans-serif;
    margin-top: 9px;
  }
  .contact__consultation form {
    margin-top: 40px;
  }
  .contact__consultation_input {
    font: 7px futurabook, sans-serif;
    padding: 4px;
    width: 150px;
  }
  .contact__consultation_indent {
    margin-top: 6px;
  }
  .contact__consultation_button {
    margin-top: 10px;
    font: 7px futurabook_bold, sans-serif;
    padding: 4px;
    width: 110px;
  }
  .gradient_text {
    margin-top: 22px;
    font: 33px futurabook_bold, sans-serif;
  }
  .statistics__block {
    width: 33%;
    margin: 30px 0;
  }
  .statistics__block_number span {
    font: 23px futurabook_light, sans-serif;
  }
  .statistic__block_description span {
    font: 6px futurabook, sans-serif;
  }
  .partners__wrap {
    padding: 40px 0;
    width: 100%;
  }
  .clients__wrap {
    padding: 40px 0;
  }
  .projects__block_title span {
    font: 8px futurabook_heavy, sans-serif;
    color: #333;
  }
  .projects__block_description span {
    font: 5px futurabook, sans-serif;
    color: #4d4d4d;
  }
  .projects__block_link span a {
    font: 7px futurabook_demi, sans-serif;
    color: #333;
    text-decoration: underline;
  }
  .projects__wrap {
    padding: 20px 0;
  }
  .projects__block_title {
    margin-top: 20px;
  }
  .projects__block_description {
    margin-top: 0px;
  }
  .projects__block_link {
    margin-top: 0px;
  }
  .projects__title .gradient_text {
    margin-top: 5px;
  }
  .offering__wrap {
    padding: 36px 0 19px;
  }
  .offering__block span {
    font: 20px futurabook_light, sans-serif;
  }
  .offering__block {
    margin-top: 15px;
  }
  .bests span {
    font: 10px futurabook, sans-serif;
    margin: 20px auto 40px;
  }
  .communication span {
    font: 16px futurabook_bold, sans-serif;
    margin: 0 auto 30px;
  }
  .piar span {
    font: 6px futurabook, sans-serif;
    margin: 0px auto;
  }
  .contact__consultation_bottom {
    padding-bottom: 40px;
  }
  .contact__consultation_bottom form {
    margin-top: 40px;
  }
  .contact__consultation_bottom-input {
    font: 7px futurabook, sans-serif;
    padding: 4px;
    width: 150px;
  }
  .contact__consultation_bottom-indent {
    margin-top: 6px;
  }
  .contact__consultation_bottom-button {
    margin-top: 10px;
    font: 7px futurabook_bold, sans-serif;
    padding: 4px;
    width: 110px;
  }
  .footer__navbar {
    padding: 25px 0;
  }
  .footer__navbar_menu {
    font: 5px futurabook, sans-serif !important;
  }
  .footer__navbar_menu a {
    padding: 0.4em;
  }
  .footer__navbar_logo {
    height: 25px;
    margin-left: 0.7em;
  }
  .footer__navbar_info {
    margin-left: 0.4em;
  }
  .footer__navbar_info-phone, .footer__navbar_info-languages, .footer__navbar_info-mail {
    font: 5px futurabook, sans-serif;
  }
}

@media only screen and (min-width: 425px) {
  .header__navbar {
    padding: 25px 0;
  }
  .header-futura p {
    font: 7px futurabook, sans-serif;
  }
  .header__navbar_menu {
    font: 6px futurabook, sans-serif;
  }
  .header__navbar_menu a {
    padding: 0.4em;
  }
  .header__navbar_logo {
    width: 20%;
    height: 25px;
    margin-left: 0.8em;
  }
  .contact__phone span a {
    font: 25px futurabook, sans-serif;
    color: #fff;
  }
  .contact {
    padding-top: 65px;
  }
  .contact__mail {
    font: 15px futurabook, sans-serif;
    margin-top: 9px;
  }
  .contact__consultation form {
    margin-top: 40px;
  }
  .contact__consultation_input {
    font: 7px futurabook, sans-serif;
    padding: 4px;
    width: 150px;
  }
  .contact__consultation_indent {
    margin-top: 6px;
  }
  .contact__consultation_button {
    margin-top: 10px;
    font: 7px futurabook_bold, sans-serif;
    padding: 4px;
    width: 110px;
  }
  .gradient_text {
    margin-top: 22px;
    font: 33px futurabook_bold, sans-serif;
  }
  .statistics__block {
    width: 33%;
    margin: 30px 0;
  }
  .statistics__block_number span {
    font: 23px futurabook_light, sans-serif;
  }
  .statistic__block_description span {
    font: 6px futurabook, sans-serif;
  }
  .partners__wrap {
    padding: 40px 0;
    width: 100%;
  }
  .clients__wrap {
    padding: 40px 0;
  }
  .projects__block_title span {
    font: 11px futurabook_heavy, sans-serif;
    color: #333;
  }
  .projects__block_description span {
    font: 7px futurabook, sans-serif;
    color: #4d4d4d;
  }
  .projects__block_link span a {
    font: 9px futurabook_demi, sans-serif;
    color: #333;
    text-decoration: underline;
  }
  .projects__wrap {
    padding: 20px 0;
  }
  .projects__block_title {
    margin-top: 20px;
  }
  .projects__block_description {
    margin-top: 0px;
  }
  .projects__block_link {
    margin-top: 0px;
  }
  .projects__title .gradient_text {
    margin-top: 5px;
  }
  .offering__wrap {
    padding: 36px 0 19px;
  }
  .offering__block span {
    font: 25px futurabook_light, sans-serif;
  }
  .offering__block {
    margin-top: 10px;
  }
  .bests span {
    font: 11px futurabook, sans-serif;
    margin: 10px auto 30px;
  }
  .communication span {
    font: 20px futurabook_bold, sans-serif;
    margin: 0 auto 25px;
  }
  .piar span {
    font: 8px futurabook, sans-serif;
    margin: 0px auto;
  }
  .contact__consultation_bottom {
    padding-bottom: 40px;
  }
  .contact__consultation_bottom form {
    margin-top: 40px;
  }
  .contact__consultation_bottom-input {
    font: 7px futurabook, sans-serif;
    padding: 4px;
    width: 150px;
  }
  .contact__consultation_bottom-indent {
    margin-top: 6px;
  }
  .contact__consultation_bottom-button {
    margin-top: 10px;
    font: 7px futurabook_bold, sans-serif;
    padding: 4px;
    width: 110px;
  }
  .footer__navbar {
    padding: 25px 0;
  }
  .footer__navbar_menu {
    font: 6px futurabook, sans-serif !important;
  }
  .footer__navbar_menu a {
    padding: 0.4em;
  }
  .footer__navbar_logo {
    height: 25px;
    margin-left: 0.7em;
  }
  .footer__navbar_info {
    margin-left: 0.4em;
  }
  .footer__navbar_info-phone, .footer__navbar_info-languages, .footer__navbar_info-mail {
    font: 7px futurabook, sans-serif;
  }
}

@media only screen and (min-width: 768px) {
  .header__navbar {
    padding: 25px 0;
  }
  .header-futura p {
    font: 10px futurabook, sans-serif;
  }
  .header__navbar_menu {
    font: 11px futurabook, sans-serif;
  }
  .header__navbar_menu a {
    padding: 0.4em;
  }
  .header__navbar_logo {
    width: 20%;
    height: 35px;
    margin-left: 2em;
  }
  .contact__phone span a {
    font: 42px futurabook, sans-serif;
    color: #fff;
  }
  .contact {
    padding-top: 90px;
  }
  .contact__mail {
    font: 25px futurabook, sans-serif;
    margin-top: 9px;
  }
  .contact__consultation form {
    margin-top: 60px;
  }
  .contact__consultation_input {
    font: 11px futurabook, sans-serif;
    padding: 6px;
    width: 247px;
  }
  .contact__consultation_indent {
    margin-top: 6px;
  }
  .contact__consultation_button {
    margin-top: 25px;
    font: 9px futurabook_bold, sans-serif;
    padding: 6px;
    width: 150px;
  }
  .gradient_text {
    margin-top: 47px;
    font: 60px futurabook_bold, sans-serif;
  }
  .statistics__block {
    width: 33%;
    margin: 90px 0;
  }
  .statistics__block_number span {
    font: 45px futurabook_light, sans-serif;
  }
  .statistic__block_description span {
    font: 9px futurabook, sans-serif;
  }
  .partners__wrap {
    padding: 40px 0;
    width: 100%;
  }
  .clients__wrap {
    padding: 40px 0;
  }
  .projects__block_title span {
    font: 20px futurabook_heavy, sans-serif;
    color: #333;
  }
  .projects__block_description span {
    font: 9px futurabook, sans-serif;
    color: #4d4d4d;
  }
  .projects__block_link span a {
    font: 12px futurabook_demi, sans-serif;
    color: #333;
    text-decoration: underline;
  }
  .projects__wrap {
    padding: 20px 0;
  }
  .projects__block_title {
    margin-top: 20px;
  }
  .projects__block_description {
    margin-top: 15px;
  }
  .projects__block_link {
    margin-top: 20px;
  }
  .offering__wrap {
    padding: 36px 0 19px;
  }
  .offering__block span {
    font: 36px futurabook_light, sans-serif;
  }
  .offering__block {
    margin-top: 15px;
  }
  .bests span {
    font: 13px futurabook, sans-serif;
    margin: 30px auto 55px;
  }
  .communication span {
    font: 30px futurabook_bold, sans-serif;
    margin: 0 auto 65px;
  }
  .piar span {
    font: 11px futurabook, sans-serif;
    margin: 0px auto;
  }
  .contact__consultation_bottom {
    padding-bottom: 75px;
  }
  .contact__consultation_bottom form {
    margin-top: 60px;
  }
  .contact__consultation_bottom-input {
    font: 11px futurabook, sans-serif;
    padding: 6px;
    width: 247px;
  }
  .contact__consultation_bottom-indent {
    margin-top: 6px;
  }
  .contact__consultation_bottom-button {
    margin-top: 25px;
    font: 9px futurabook_bold, sans-serif;
    padding: 6px;
    width: 150px;
  }
  .footer__navbar {
    padding: 25px 0;
  }
  .footer__navbar_menu {
    font: 12px futurabook, sans-serif !important;
  }
  .footer__navbar_menu a {
    padding: 0.4em;
  }
  .footer__navbar_logo {
    height: 40px;
    margin-left: 0.7em;
  }
  .footer__navbar_info {
    margin-left: 0.4em;
  }
  .footer__navbar_info-phone, .footer__navbar_info-languages, .footer__navbar_info-mail {
    font: 10px futurabook, sans-serif;
  }
}

@media only screen and (min-width: 1024px) {
  .header__navbar {
    padding: 25px 0;
  }
  .header-futura p {
    font: 13px futurabook, sans-serif;
  }
  .header__navbar_menu {
    font: 14px futurabook, sans-serif;
  }
  .header__navbar_menu a {
    padding: 0.4em;
  }
  .header__navbar_logo {
    width: 20%;
    height: 50px;
    margin-left: 2em;
  }
  .contact__phone span a {
    font: 60px futurabook, sans-serif;
    color: #fff;
  }
  .contact {
    padding-top: 100px;
  }
  .contact__mail {
    font: 30px futurabook, sans-serif;
    margin-top: 9px;
  }
  .contact__consultation form {
    margin-top: 70px;
  }
  .contact__consultation_input {
    font: 12px futurabook, sans-serif;
    padding: 7px;
    width: 300px;
  }
  .contact__consultation_indent {
    margin-top: 12px;
  }
  .contact__consultation_button {
    margin-top: 25px;
    font: 12px futurabook_bold, sans-serif;
    padding: 7px;
    width: 200px;
  }
  .gradient_text {
    margin-top: 50px;
    font: 70px futurabook_bold, sans-serif;
  }
  .statistics__block {
    width: 33%;
    margin: 90px 0;
  }
  .statistics__block_number span {
    font: 50px futurabook_light, sans-serif;
  }
  .statistic__block_description span {
    font: 11px futurabook, sans-serif;
  }
  .partners__wrap {
    padding: 40px 0;
    width: 100%;
  }
  .clients__wrap {
    padding: 40px 0;
  }
  .projects__block_title span {
    font: 25px futurabook_heavy, sans-serif;
    color: #333;
  }
  .projects__block_description span {
    font: 12px futurabook, sans-serif;
    color: #4d4d4d;
  }
  .projects__block_link span a {
    font: 15px futurabook_demi, sans-serif;
    color: #333;
    text-decoration: underline;
  }
  .projects__wrap {
    padding: 20px 0;
  }
  .projects__block_title {
    margin-top: 20px;
  }
  .projects__block_description {
    margin-top: 20px;
  }
  .projects__block_link {
    margin-top: 20px;
  }
  .offering__wrap {
    padding: 30px 0 20px;
  }
  .offering__block span {
    font: 45px futurabook_light, sans-serif;
  }
  .offering__block {
    margin-top: 20px;
  }
  .bests span {
    font: 15px futurabook, sans-serif;
    margin: 30px auto 55px;
  }
  .communication span {
    font: 35px futurabook_bold, sans-serif;
    margin: 0 auto 65px;
  }
  .piar span {
    font: 14px futurabook, sans-serif;
    margin: 0px auto;
  }
  .contact__consultation_bottom {
    padding-bottom: 75px;
  }
  .contact__consultation_bottom form {
    margin-top: 70px;
  }
  .contact__consultation_bottom-input {
    font: 12px futurabook, sans-serif;
    padding: 7px;
    width: 300px;
  }
  .contact__consultation_bottom-indent {
    margin-top: 12px;
  }
  .contact__consultation_bottom-button {
    margin-top: 25px;
    font: 12px futurabook_bold, sans-serif;
    padding: 7px;
    width: 200px;
  }
  .footer__navbar {
    padding: 25px 0;
  }
  .footer__navbar_menu {
    font: 15px futurabook, sans-serif !important;
  }
  .footer__navbar_menu a {
    padding: 0.4em;
  }
  .footer__navbar_logo {
    height: 50px;
    margin-left: 0.7em;
  }
  .footer__navbar_info {
    margin-left: 0.4em;
  }
  .footer__navbar_info-phone, .footer__navbar_info-languages, .footer__navbar_info-mail {
    font: 11px futurabook, sans-serif;
  }
}
