ol, ul { list-style: none;}
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

a, a:hover {
  text-decoration: none;
}

.clearfix: before;
.clearfix: after {
  content: * *;
  display: table;
}

.clearfix: after {clear: both;}

.left {float: left;}
.right {float: right;}
.text-right {
  text-align: right;
}

.phone {
  position: absolute;
  top: 1100px;
  left: 75px;
}
.icon {
  position: absolute;
  top: 1100px;
  left: 500px;
}
.words {
  position: absolute;
  top: 1380px;
  left: 500px;
  width: 100%;
}
.special-words__item_title h3 {
  font: 92px/103px Catamaran, sans-serif;
  color: #fff;
  text-transform: uppercase;
}
.special-words__item_content p {
  font: 80px/46px Rubik, sans-serif;
  color: #ffa000;
  margin-top: 50px;
}

h3.ru {
  font: 76px/97px Catamaran, sans-serif;
}
p.ru {
  font: 70px/46px Rubik, sans-serif;
  margin-top: 40px;
}

h3.es {
  font: 89px/103px Catamaran, sans-serif;
}
p.es {
  font: 73px/46px Rubik, sans-serif;
  margin-top: 40px;
}

h3.de {
  font: 90px/100px Catamaran, sans-serif;
}
p.de {
  font: 76px/46px Rubik, sans-serif;
  margin-top: 40px;
}

h3.it {
  font: 88px/103px Catamaran, sans-serif;
}
p.it {
  font: 76px/46px Rubik, sans-serif;
  margin-top: 40px;
}
/*Iphone 4*/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) {
  .phone {
    top: 260px;
    left: 23px;
  }
  .icon {
    top: 260px;
    left: 115px;
  }
  .words {
    top: 317px;
    left: 115px;
    width: 100%;
  }
  .special-words__item_title h3 {
    font: 20px/25px Catamaran, sans-serif;
    color: #fff;
    text-transform: uppercase;
  }
  .special-words__item_content p {
    font: 17px/20px Rubik, sans-serif;
    color: #ffa000;
    margin-top: 4px;
  }
  h3.ru {
    font: 20px/25px Catamaran, sans-serif;
  }
  p.ru {
    font: 19px/20px Rubik, sans-serif;
    margin-top: 4px;
  }
  h3.es {
    font: 20px/25px Catamaran, sans-serif;
  }
  p.es {
    font: 17px/20px Rubik, sans-serif;
    margin-top: 4px;
  }
}
/*Iphone 5*/
@media only screen and (min-device-height : 490px) and (max-device-height : 667px) and (orientation : portrait) {
  .phone {
    top: 350px;
    left: 23px;
  }
  .icon {
    top: 350px;
    left: 145px;
  }
  .words {
    top: 428px;
    left: 145px;
    width: 100%;
  }
  .special-words__item_title h3 {
    font: 27px/30px Catamaran, sans-serif;
    color: #fff;
    text-transform: uppercase;
  }
  .special-words__item_content p {
    font: 23px/20px Rubik, sans-serif;
    color: #ffa000;
    margin-top: 4px;
  }
  h3.ru {
    font: 24px/29px Catamaran, sans-serif;
  }
  p.ru {
    font: 22px/20px Rubik, sans-serif;
    margin-top: 7px;
  }
  h3.de {
    font: 27px/30px Catamaran, sans-serif;
  }
  p.de {
    font: 23px/20px Rubik, sans-serif;
    margin-top: 7px;
  }
  h3.ja {
    font: 26px/32px Catamaran, sans-serif;
  }
  p.ja {
    font: 22px/20px Rubik, sans-serif;
    margin-top: 7px;
  }
}
/*Iphone 6*/
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait) {
  .phone {
    top: 400px;
    left: 33px;
  }
  .icon {
    top: 400px;
    left: 176px;
  }
  .words {
    top: 490px;
    left: 176px;
    width: 100%;
  }
  .special-words__item_title h3 {
    font: 33px/35px Catamaran, sans-serif;
    color: #fff;
    text-transform: uppercase;
  }
  .special-words__item_content p {
    font: 28px/20px Rubik, sans-serif;
    color: #ffa000;
    margin-top: 12px;
  }
  h3.ru {
    font: 27px/37px Catamaran, sans-serif;
  }
  p.ru {
    font: 25px/20px Rubik, sans-serif;
    margin-top: 11px;
  }
  h3.es {
    font: 33px/40px Catamaran, sans-serif;
  }
  p.es {
    font: 28px/20px Rubik, sans-serif;
    margin-top: 10px;
  }
  h3.fr {
    font: 33px/37px Catamaran, sans-serif;
  }
  p.fr {
    font: 28px/20px Rubik, sans-serif;
    margin-top: 12px;
  }
  h3.it {
    font: 33px/38px Catamaran, sans-serif;
  }
  p.it {
    font: 28px/20px Rubik, sans-serif;
    margin-top: 10px;
  }
}
/*Iphone 6+*/
@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : portrait) {
  .phone {
    top: 436px;
    left: 33px;
  }
  .icon {
    top: 436px;
    left: 199px;
  }
  .words {
    top: 550px;
    left: 199px;
    width: 100%;
  }
  .special-words__item_title h3 {
    font: 37px/42px Catamaran, sans-serif;
    color: #fff;
    text-transform: uppercase;
  }
  .special-words__item_content p {
    font: 32px/20px Rubik, sans-serif;
    color: #ffa000;
    margin-top: 12px;
  }
  h3.ru {
    font: 30px/40px Catamaran, sans-serif;
  }
  p.ru {
    font: 26px/20px Rubik, sans-serif;
    margin-top: 11px;
  }
  h3.es {
    font: 35px/40px Catamaran, sans-serif;
  }
  p.es {
    font: 28px/20px Rubik, sans-serif;
    margin-top: 11px;
  }
  h3.it {
    font: 36px/42px Catamaran, sans-serif;
  }
  p.it {
    font: 28px/20px Rubik, sans-serif;
    margin-top: 11px;
  }
}
/*Ipad*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  .phone {
    top: 620px;
    left: 50px;
  }
  .icon {
    top: 620px;
    left: 275px;
  }
  .words {
    top: 770px;
    left: 275px;
    width: 100%;
  }
  .special-words__item_title h3 {
    font: 50px/55px Catamaran, sans-serif;
    color: #fff;
    text-transform: uppercase;
  }
  .special-words__item_content p {
    font: 40px/40px Rubik, sans-serif;
    color: #ffa000;
    margin-top: 12px;
  }
  h3.ru {
    font: 42px/56px Catamaran, sans-serif;
  }
  p.ru {
    font: 38px/20px Rubik, sans-serif;
    margin-top: 26px;
  }
}
