@font-face {
  font-family: futurabook;
  src: url(../fonts/FuturaPTBook.otf);
}

@font-face {
  font-family: futurabook_bold;
  src: url(../fonts/FuturaPTBold.otf);
}

@font-face {
  font-family: futurabook_light;
  src: url(../fonts/FuturaPTLight.otf);
}

@font-face {
  font-family: futurabook_demi;
  src: url(../fonts/FuturaPTDemi.otf);
}

@font-face {
  font-family: futurabook_extraBold;
  src: url(../fonts/FuturaPTExtraBold.otf);
}

@font-face {
  font-family: futurabook_heavy;
  src: url(../fonts/FuturaPTHeavy.otf);
}

@font-face {
  font-family: futurabook_medium;
  src: url(../fonts/FuturaPTMedium.otf);
}

body {
  width: 100%;
}

*, :after, :before {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
}

.active {
  font-family: futurabook_bold;
}

.header-futura p {
  font: 17px futurabook, sans-serif;
}

.header__navbar {
  padding: 80px 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.header__navbar_wrap {
  background-color: #fff;
}

.header__navbar_logo {
  background: url(../img/logo.png) no-repeat center center;
  -webkit-background-size: contain;
  background-size: contain;
  width: 20%;
  height: 80px;
  margin-left: 2em;
}

.header__navbar_copy {
  width: 26%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  align-items: center;
}

.header__navbar_menu {
  width: 54%;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  align-items: center;
  font: 17px futurabook, sans-serif;
}

.header__navbar_menu a {
  color: #000;
  padding: 1em;
  display: block;
  text-decoration: none;
}

.info__wrap {
  background: url(../img/bg.png) no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
}

.contact {
  padding-top: 275px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.contact__phone {
  text-align: center;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.contact__phone span a {
  font: 90px futurabook, sans-serif;
  color: #fff;
}

.contact__mail {
  font: 45px futurabook, sans-serif;
  color: #fff;
  margin-top: 60px;
}

.contact__consultation form {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 135px;
  align-items: center;
}

.contact__consultation_input {
  font: 28px futurabook, sans-serif;
  padding: 18px;
  width: 525px;
  background-color: #fff;
  color: #b3b3b4 !important;
  border: none;
}

.contact__consultation_indent {
  margin-top: 20px;
}

.contact__consultation_input::-webkit-input-placeholder {
  color: #b3b3b4 !important;
}

.contact__consultation_button {
  margin-top: 47px;
  background-color: #8431a6;
  border: none;
  font: 24px futurabook_bold, sans-serif;
  color: #fff;
  padding: 17px;
  width: 365px;
  cursor: pointer;
}

.gradient_text {
  margin: 140px auto 0;
  text-align: center;
  text-transform: uppercase;
  font: 140px futurabook_bold, sans-serif;
  line-height: 150px;
  background: linear-gradient(45deg, #b63594, #742bc0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #a130a1;
  width: 50%;
}

.statistics__wrap {
  padding: 0 17%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}

.statistics__block {
  width: 33%;
  margin: 210px 0;
}

.statistics__block_number span {
  display: block;
  font: 100px futurabook_light, sans-serif;
}

.statistic__block_description span {
  font: 16px futurabook, sans-serif;
  width: 32%;
  display: block;
  margin: auto;
}

.partners__wrap {
  background-color: #fff;
  padding: 100px 0;
  width: 100%;
}

.partners__inner {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: center;
}

.partners__inner img {
  width: 95%;
  height: 95%;
}

.clients__wrap {
  padding: 120px 0;
}

.clients .gradient_text {
  margin: 0 auto;
}

.projects__wrap {
  background-color: #fff;
  padding: 70px 0 100px 0;
}

.projects__block {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
}

.projects__block_glasses-image {
  width: 50%;
}

.projects__block_glasses-image img {
  width: 100%;
  height: 100%;
  position: relative;
  left: -25%;
}

.projects__block_glasses-text {
  width: 50%;
  padding-left: 5%;
}

.projects__block_refueling-image {
  width: 40%;
}

.projects__block_refueling-image img {
  width: 100%;
  height: 100%;
}

.projects__block_refueling-text {
  width: 60%;
  padding: 1% 0 0 15%;
}

.projects__block_title {
  margin-top: 70px;
  width: 73%;
}

.projects__block_description {
  margin-top: 60px;
  width: 60%;
}

.projects__block_link {
  margin-top: 65px;
}

.projects__block_title span {
  font: 38px futurabook_heavy, sans-serif;
  color: #333;
}

.projects__block_description span {
  font: 18px futurabook, sans-serif;
  color: #4d4d4d;
}

.projects__block_link span a {
  font: 22px futurabook_demi, sans-serif;
  color: #333;
  text-decoration: underline;
}

.projects__title .gradient_text {
  margin: 0 auto;
}

.offering__wrap {
  padding: 130px 0 120px;
}

.offering {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
}

.offering__block {
  margin-top: 35px;
}

.offering__block:first-child {
  margin-top: 0;
}

.offering__block span {
  font: 60px futurabook_light, sans-serif;
}

.bests, .communication, .piar {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  text-align: center;
}

.bests {
  margin: 0% 20% 0;
}

.bests span {
  font: 21px futurabook, sans-serif;
  margin: 0 auto 120px;
}

.bests p {
  margin: 2% auto;
}

.communication span {
  font: 52px futurabook_bold, sans-serif;
  margin: 8% auto;
  width: 53%;
}

.piar span {
  font: 19px futurabook, sans-serif;
  margin: 0 auto 140px;
  width: 37%;
}

.contact__consultation_bottom {
  padding-bottom: 30%;
}

.contact__consultation_bottom form {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: center;
}

.contact__consultation_bottom-input {
  font: 28px futurabook, sans-serif;
  padding: 18px;
  width: 525px;
  background-color: #fff;
  color: #b3b3b4 !important;
  border: none;
}

.contact__consultation_bottom-indent {
  margin-top: 20px;
}

.contact__consultation_bottom-input::-webkit-input-placeholder {
  color: #b3b3b4 !important;
}

.contact__consultation_bottom-button {
  margin-top: 47px;
  background-color: #8431a6;
  border: none;
  font: 24px futurabook_bold, sans-serif;
  color: #fff;
  padding: 17px;
  width: 365px;
  cursor: pointer;
}

.none {
  display: none;
}

.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

.footer__navbar {
  padding: 80px 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.footer__navbar {
  background-color: #fff;
}

.footer__navbar_logo {
  background: url(../img/logo.png) no-repeat center center;
  -webkit-background-size: contain;
  background-size: contain;
  width: 25%;
  height: 80px;
  margin-left: 2em;
}

.footer__navbar_info {
  width: 25%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.footer__navbar_info-languages a {
  color: #000;
}

.footer__navbar_info-phone, .footer__navbar_info-mail {
  font: 17px futurabook, sans-serif;
}

.footer__navbar_menu {
  width: 50%;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  align-items: center;
  font: 17px futurabook, sans-serif;
}

.footer__navbar_menu a {
  color: #000;
  padding: 1em;
  display: block;
  text-decoration: none;
}

.anim {
  width: 0px;
  height: 0px;
  position: relative;
  -webkit-animation-name: example;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 150s;
  /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 150s;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 1;
  -moz-animation-delay: 1;
  -o-animation-delay: 1;
  animation-delay: 1;
}

.anim img {
  width: 200px;
  height: 420px;
}

/* Safari 4.0 - 8.0 */

@-webkit-keyframes example {
  0% {
    left: 75%;
    top: 0em;
  }
  25% {
    left: 75%;
    top: -500em;
  }
  50% {
    left: 75%;
    top: -500em;
  }
  75% {
    left: 75%;
    top: -500em;
  }
  100% {
    left: 75%;
    top: -500em;
  }
}

/* Standard syntax */

@keyframes example {
  0% {
    left: 75%;
    top: 0em;
  }
  25% {
    left: 75%;
    top: -500em;
  }
  50% {
    left: 75%;
    top: -500em;
  }
  75% {
    left: 75%;
    top: -500em;
  }
  100% {
    left: 75%;
    top: -500em;
  }
}
