@media (max-width: 320px) {
  .header__navbar {
    padding: 25px 0;
  }
  .header-futura p {
    font: 5px futurabook, sans-serif;
  }
  .header__navbar_menu {
    font: 5px futurabook, sans-serif !important;
  }
  .header__navbar_menu a {
    padding: 0.4em;
  }
  .header__navbar_logo {
    width: 20%;
    height: 25px;
    margin-left: 0.7em;
  }
  .contact__phone span a {
    font: 23px futurabook, sans-serif;
  }
  .contact {
    padding-top: 57px;
  }
  .contact__mail {
    font: 14px futurabook, sans-serif;
    margin-top: 7px;
  }
  .contact__consultation form {
    margin-top: 35px;
  }
  .contact__consultation_input {
    font: 8px futurabook, sans-serif;
    padding: 4px;
    width: 149px;
  }
  .contact__consultation_indent {
    margin-top: 6px;
  }
  .contact__consultation_button {
    margin-top: 10px;
    font: 7px futurabook_bold, sans-serif;
    padding: 5px;
    width: 106px;
  }
  .gradient_text {
    margin-top: 20px;
    font: 35px futurabook_bold, sans-serif;
    width: 60%;
  }
  .statistics__block {
    width: 33%;
    margin: 30px 0;
  }
  .statistics__block_number span {
    font: 24px futurabook_light, sans-serif;
  }
  .statistic__block_description span {
    font: 6px futurabook, sans-serif;
    width: 49%;
  }
  .partners__wrap {
    padding: 40px 0;
    width: 100%;
  }
  .clients__wrap {
    padding: 25px 0;
  }
  .projects__block_title span {
    font: 8px futurabook_heavy, sans-serif;
    color: #333;
  }
  .projects__block_description span {
    font: 5px futurabook, sans-serif;
    color: #4d4d4d;
  }
  .projects__block_link span a {
    font: 7px futurabook_demi, sans-serif;
    color: #333;
    text-decoration: underline;
  }
  .projects__wrap {
    padding: 20px 0;
  }
  .projects__block_title {
    margin-top: 20px;
    width: 68%;
  }
  .projects__block_description {
    margin-top: 0px;
    width: 70%;
  }
  .projects__block_link {
    margin-top: 0px;
  }
  .projects__title .gradient_text {
    margin-top: 5px;
  }
  .offering__wrap {
    padding: 36px 0 19px;
  }
  .offering__block span {
    font: 18px futurabook_light, sans-serif;
  }
  .offering__block {
    margin-top: 10px;
  }
  .bests span {
    font: 10px futurabook, sans-serif;
    margin: 20px auto 40px;
  }
  .communication span {
    font: 15px futurabook_bold, sans-serif;
    margin: 0 auto 30px;
    width: 70%;
  }
  .piar span {
    font: 6px futurabook, sans-serif;
    margin: 0px auto;
    width: 46%;
  }
  .contact__consultation_bottom {
    padding-bottom: 40px;
  }
  .contact__consultation_bottom form {
    margin-top: 35px;
  }
  .contact__consultation_bottom-input {
    font: 8px futurabook, sans-serif;
    padding: 4px;
    width: 149px;
  }
  .contact__consultation_bottom-indent {
    margin-top: 6px;
  }
  .contact__consultation_bottom-button {
    margin-top: 10px;
    font: 7px futurabook_bold, sans-serif;
    padding: 5px;
    width: 106px;
  }
  .footer__navbar {
    padding: 25px 0;
  }
  .footer__navbar_menu {
    font: 4.7px futurabook, sans-serif !important;
  }
  .footer__navbar_menu a {
    padding: 0.4em;
  }
  .footer__navbar_logo {
    height: 25px;
    margin-left: 0.7em;
  }
  .footer__navbar_info {
    margin-left: 0.4em;
  }
  .footer__navbar_info-phone, .footer__navbar_info-languages, .footer__navbar_info-mail {
    font: 5px futurabook, sans-serif;
  }
  .anim {
    -webkit-animation-duration: 220s;
    /* Safari 4.0 - 8.0 */
    animation-duration: 220s;
  }
  .anim img {
    width: 50px;
    height: 100px;
  }
}

@media (max-width: 375px) and (min-width: 321px) {
  .header__navbar {
    padding: 25px 0;
  }
  .header-futura p {
    font: 7px futurabook, sans-serif;
  }
  .header__navbar_menu {
    font: 6px futurabook, sans-serif;
  }
  .header__navbar_menu a {
    padding: 0.4em;
  }
  .header__navbar_logo {
    width: 20%;
    height: 25px;
    margin-left: 0.8em;
  }
  .contact__phone span a {
    font: 31px futurabook, sans-serif;
  }
  .contact {
    padding-top: 65px;
  }
  .contact__mail {
    font: 17px futurabook, sans-serif;
    margin-top: 9px;
  }
  .contact__consultation form {
    margin-top: 40px;
  }
  .contact__consultation_input {
    font: 10px futurabook, sans-serif;
    padding: 5px;
    width: 190px;
  }
  .contact__consultation_indent {
    margin-top: 6px;
  }
  .contact__consultation_button {
    margin-top: 15px;
    font: 8px futurabook_bold, sans-serif;
    padding: 5px;
    width: 130px;
  }
  .gradient_text {
    margin-top: 22px;
    font: 49px futurabook_bold, sans-serif;
    width: 65%;
  }
  .statistics__block {
    width: 33%;
    margin: 40px 0;
  }
  .statistics__block_number span {
    font: 35px futurabook_light, sans-serif;
  }
  .statistic__block_description span {
    font: 6px futurabook, sans-serif;
    width: 43%;
  }
  .partners__wrap {
    padding: 40px 0;
    width: 100%;
  }
  .clients__wrap {
    padding: 25px 0;
  }
  .projects__block_title span {
    font: 10px futurabook_heavy, sans-serif;
    color: #333;
  }
  .projects__block_description span {
    font: 6px futurabook, sans-serif;
    color: #4d4d4d;
  }
  .projects__block_link span a {
    font: 8px futurabook_demi, sans-serif;
    color: #333;
    text-decoration: underline;
  }
  .projects__wrap {
    padding: 20px 0;
  }
  .projects__block_title {
    margin-top: 20px;
    width: 70%;
  }
  .projects__block_description {
    margin-top: 0px;
    width: 80%;
  }
  .projects__block_link {
    margin-top: 0px;
  }
  .projects__title .gradient_text {
    margin-top: 5px;
  }
  .offering__wrap {
    padding: 36px 0 19px;
  }
  .offering__block span {
    font: 20px futurabook_light, sans-serif;
  }
  .offering__block {
    margin-top: 11px;
  }
  .bests span {
    font: 11px futurabook, sans-serif;
    margin: 20px auto 40px;
  }
  .communication span {
    font: 17px futurabook_bold, sans-serif;
    margin: 0 auto 30px;
    width: 67%;
  }
  .piar span {
    font: 7px futurabook, sans-serif;
    margin: 0px auto;
    width: 46%;
  }
  .contact__consultation_bottom {
    padding-bottom: 40px;
  }
  .contact__consultation_bottom form {
    margin-top: 40px;
  }
  .contact__consultation_bottom-input {
    font: 9px futurabook, sans-serif;
    padding: 5px;
    width: 190px;
  }
  .contact__consultation_bottom-indent {
    margin-top: 6px;
  }
  .contact__consultation_bottom-button {
    margin-top: 15px;
    font: 8px futurabook_bold, sans-serif;
    padding: 5px;
    width: 130px;
  }
  .footer__navbar {
    padding: 25px 0;
  }
  .footer__navbar_menu {
    font: 5.2px futurabook, sans-serif !important;
  }
  .footer__navbar_menu a {
    padding: 0.4em;
  }
  .footer__navbar_logo {
    height: 25px;
    margin-left: 0.7em;
  }
  .footer__navbar_info {
    margin-left: 0.4em;
  }
  .footer__navbar_info-phone, .footer__navbar_info-languages, .footer__navbar_info-mail {
    font: 5px futurabook, sans-serif;
  }
  .anim {
    -webkit-animation-duration: 180s;
    /* Safari 4.0 - 8.0 */
    animation-duration: 180s;
  }
  .anim img {
    width: 60px;
    height: 130px;
  }
}

@media (max-width: 425px) and (min-width: 376px) {
  .header__navbar {
    padding: 25px 0;
  }
  .header-futura p {
    font: 8px futurabook, sans-serif;
  }
  .header__navbar_menu {
    font: 7px futurabook, sans-serif;
  }
  .header__navbar_menu a {
    padding: 0.4em;
  }
  .header__navbar_logo {
    width: 20%;
    height: 32px;
    margin-left: 0.8em;
  }
  .contact__phone span a {
    font: 35px futurabook, sans-serif;
    color: #fff;
  }
  .contact {
    padding-top: 65px;
  }
  .contact__mail {
    font: 20px futurabook, sans-serif;
    margin-top: 9px;
  }
  .contact__consultation form {
    margin-top: 40px;
  }
  .contact__consultation_input {
    font: 11px futurabook, sans-serif;
    padding: 6px;
    width: 205px;
  }
  .contact__consultation_indent {
    margin-top: 9px;
  }
  .contact__consultation_button {
    margin-top: 15px;
    font: 10px futurabook_bold, sans-serif;
    padding: 6px;
    width: 155px;
  }
  .gradient_text {
    margin-top: 25px;
    font: 55px futurabook_bold, sans-serif;
    width: 65%;
  }
  .statistics__block {
    width: 33%;
    margin: 60px 0;
  }
  .statistics__block_number span {
    font: 40px futurabook_light, sans-serif;
  }
  .statistic__block_description span {
    font: 8px futurabook, sans-serif;
    width: 50%;
  }
  .partners__wrap {
    padding: 40px 0;
    width: 100%;
  }
  .clients__wrap {
    padding: 40px 0;
  }
  .projects__block_title span {
    font: 12px futurabook_heavy, sans-serif;
    color: #333;
  }
  .projects__block_description span {
    font: 7px futurabook, sans-serif;
    color: #4d4d4d;
  }
  .projects__block_link span a {
    font: 10px futurabook_demi, sans-serif;
    color: #333;
    text-decoration: underline;
  }
  .projects__wrap {
    padding: 20px 0;
  }
  .projects__block_title {
    margin-top: 20px;
  }
  .projects__block_description {
    margin-top: 2px;
    width: 80%;
  }
  .projects__block_link {
    margin-top: 4px;
  }
  .projects__title .gradient_text {
    margin-top: 5px;
  }
  .offering__wrap {
    padding: 36px 0 19px;
  }
  .offering__block span {
    font: 22px futurabook_light, sans-serif;
  }
  .offering__block {
    margin-top: 7px;
  }
  .bests span {
    font: 13px futurabook, sans-serif;
    margin: 10px auto 30px;
  }
  .communication span {
    font: 20px futurabook_bold, sans-serif;
    margin: 0 auto 25px;
    width: 70%;
  }
  .piar span {
    font: 8px futurabook, sans-serif;
    margin: 0px auto;
    width: 47%;
  }
  .contact__consultation_bottom {
    padding-bottom: 40px;
  }
  .contact__consultation_bottom form {
    margin-top: 40px;
  }
  .contact__consultation_bottom-input {
    font: 11px futurabook, sans-serif;
    padding: 6px;
    width: 205px;
  }
  .contact__consultation_bottom-indent {
    margin-top: 9px;
  }
  .contact__consultation_bottom-button {
    margin-top: 15px;
    font: 10px futurabook_bold, sans-serif;
    padding: 6px;
    width: 155px;
  }
  .footer__navbar {
    padding: 25px 0;
  }
  .footer__navbar_menu {
    font: 6.4px futurabook, sans-serif !important;
  }
  .footer__navbar_menu a {
    padding: 0.4em;
  }
  .footer__navbar_logo {
    height: 35px;
    margin-left: 0.7em;
  }
  .footer__navbar_info {
    margin-left: 0.4em;
  }
  .footer__navbar_info-phone, .footer__navbar_info-languages, .footer__navbar_info-mail {
    font: 8px futurabook, sans-serif;
  }
  .anim {
    -webkit-animation-duration: 160s;
    /* Safari 4.0 - 8.0 */
    animation-duration: 160s;
  }
  .anim img {
    width: 70px;
    height: 150px;
  }
}

@media (max-width: 601px) and (min-width: 426px) {
  .header__navbar {
    padding: 25px 0;
  }
  .header-futura p {
    font: 8px futurabook, sans-serif;
  }
  .header__navbar_menu {
    font: 8px futurabook, sans-serif;
  }
  .header__navbar_menu a {
    padding: 0.6em;
  }
  .header__navbar_logo {
    width: 20%;
    height: 32px;
    margin-left: 0.8em;
  }
  .contact__phone span a {
    font: 35px futurabook, sans-serif;
    color: #fff;
  }
  .contact {
    padding-top: 65px;
  }
  .contact__mail {
    font: 20px futurabook, sans-serif;
    margin-top: 9px;
  }
  .contact__consultation form {
    margin-top: 40px;
  }
  .contact__consultation_input {
    font: 11px futurabook, sans-serif;
    padding: 6px;
    width: 205px;
  }
  .contact__consultation_indent {
    margin-top: 9px;
  }
  .contact__consultation_button {
    margin-top: 15px;
    font: 10px futurabook_bold, sans-serif;
    padding: 6px;
    width: 155px;
  }
  .gradient_text {
    margin-top: 25px;
    font: 55px futurabook_bold, sans-serif;
    width: 45%;
  }
  .statistics__block {
    width: 33%;
    margin: 60px 0;
  }
  .statistics__block_number span {
    font: 40px futurabook_light, sans-serif;
  }
  .statistic__block_description span {
    font: 8px futurabook, sans-serif;
    width: 35%;
  }
  .partners__wrap {
    padding: 40px 0;
    width: 100%;
  }
  .clients__wrap {
    padding: 40px 0;
  }
  .projects__block_title span {
    font: 12px futurabook_heavy, sans-serif;
    color: #333;
  }
  .projects__block_description span {
    font: 7px futurabook, sans-serif;
    color: #4d4d4d;
  }
  .projects__block_link span a {
    font: 10px futurabook_demi, sans-serif;
    color: #333;
    text-decoration: underline;
  }
  .projects__wrap {
    padding: 20px 0;
  }
  .projects__block_title {
    margin-top: 20px;
    width: 53%;
  }
  .projects__block_description {
    margin-top: 2px;
    width: 70%;
  }
  .projects__block_link {
    margin-top: 4px;
  }
  .projects__title .gradient_text {
    margin-top: 5px;
  }
  .offering__wrap {
    padding: 36px 0 19px;
  }
  .offering__block span {
    font: 22px futurabook_light, sans-serif;
  }
  .offering__block {
    margin-top: 7px;
  }
  .bests span {
    font: 13px futurabook, sans-serif;
    margin: 10px auto 30px;
  }
  .communication span {
    font: 20px futurabook_bold, sans-serif;
    margin: 0 auto 25px;
    width: 49%;
  }
  .piar span {
    font: 8px futurabook, sans-serif;
    margin: 0px auto;
    width: 33%;
  }
  .contact__consultation_bottom {
    padding-bottom: 40px;
  }
  .contact__consultation_bottom form {
    margin-top: 40px;
  }
  .contact__consultation_bottom-input {
    font: 11px futurabook, sans-serif;
    padding: 6px;
    width: 205px;
  }
  .contact__consultation_bottom-indent {
    margin-top: 9px;
  }
  .contact__consultation_bottom-button {
    margin-top: 15px;
    font: 10px futurabook_bold, sans-serif;
    padding: 6px;
    width: 155px;
  }
  .footer__navbar {
    padding: 25px 0;
  }
  .footer__navbar_menu {
    font: 8px futurabook, sans-serif !important;
  }
  .footer__navbar_menu a {
    padding: 0.6em;
  }
  .footer__navbar_logo {
    height: 35px;
    margin-left: 0.7em;
  }
  .footer__navbar_info {
    margin-left: 0.4em;
  }
  .footer__navbar_info-phone, .footer__navbar_info-languages, .footer__navbar_info-mail {
    font: 8px futurabook, sans-serif;
  }
  .anim {
    -webkit-animation-duration: 160s;
    /* Safari 4.0 - 8.0 */
    animation-duration: 160s;
  }
  .anim img {
    width: 70px;
    height: 150px;
  }
}

@media (max-width: 768px) and (min-width: 602px) {
  .header__navbar {
    padding: 35px 0;
  }
  .header-futura p {
    font: 12px futurabook, sans-serif;
  }
  .header__navbar_menu {
    font: 12px futurabook, sans-serif;
  }
  .header__navbar_menu a {
    padding: 0.4em;
  }
  .header__navbar_logo {
    width: 20%;
    height: 55px;
    margin-left: 2em;
  }
  .contact__phone span a {
    font: 52px futurabook, sans-serif;
    color: #fff;
  }
  .contact {
    padding-top: 90px;
  }
  .contact__mail {
    font: 34px futurabook, sans-serif;
    margin-top: 9px;
  }
  .contact__consultation form {
    margin-top: 60px;
  }
  .contact__consultation_input {
    font: 16px futurabook, sans-serif;
    padding: 9px;
    width: 315px;
  }
  .contact__consultation_indent {
    margin-top: 11px;
  }
  .contact__consultation_button {
    margin-top: 20px;
    font: 14px futurabook_bold, sans-serif;
    padding: 10px;
    width: 236px;
  }
  .gradient_text {
    margin-top: 50px;
    font: 85px futurabook_bold, sans-serif;
    width: 60%;
  }
  .statistics__block {
    width: 33%;
    margin: 70px 0;
  }
  .statistics__block_number span {
    font: 65px futurabook_light, sans-serif;
  }
  .statistic__block_description span {
    font: 11px futurabook, sans-serif;
    width: 38%;
  }
  .partners__wrap {
    padding: 40px 0;
    width: 100%;
  }
  .clients__wrap {
    padding: 40px 0;
  }
  .projects__block_title span {
    font: 22px futurabook_heavy, sans-serif;
    color: #333;
  }
  .projects__block_description span {
    font: 11px futurabook, sans-serif;
    color: #4d4d4d;
  }
  .projects__block_link span a {
    font: 12px futurabook_demi, sans-serif;
    color: #333;
    text-decoration: underline;
  }
  .projects__wrap {
    padding: 20px 0;
  }
  .projects__block_title {
    margin-top: 30px;
    width: 75%;
  }
  .projects__block_description {
    margin-top: 15px;
    width: 70%;
  }
  .projects__block_link {
    margin-top: 20px;
  }
  .offering__wrap {
    padding: 36px 0 19px;
  }
  .offering__block span {
    font: 36px futurabook_light, sans-serif;
  }
  .offering__block {
    margin-top: 15px;
  }
  .bests span {
    font: 14px futurabook, sans-serif;
    margin: 30px auto 55px;
  }
  .communication span {
    font: 32px futurabook_bold, sans-serif;
    margin: 0 auto 65px;
  }
  .piar span {
    font: 12px futurabook, sans-serif;
    margin: 0px auto;
  }
  .contact__consultation_bottom {
    padding-bottom: 75px;
  }
  .contact__consultation_bottom form {
    margin-top: 60px;
  }
  .contact__consultation_bottom-input {
    font: 16px futurabook, sans-serif;
    padding: 9px;
    width: 315px;
  }
  .contact__consultation_bottom-indent {
    margin-top: 11px;
  }
  .contact__consultation_bottom-button {
    margin-top: 20px;
    font: 14px futurabook_bold, sans-serif;
    padding: 10px;
    width: 236px;
  }
  .footer__navbar {
    padding: 35px 0;
  }
  .footer__navbar_menu {
    font: 11px futurabook, sans-serif !important;
  }
  .footer__navbar_menu a {
    padding: 0.4em;
  }
  .footer__navbar_logo {
    height: 40px;
    margin-left: 0.7em;
  }
  .footer__navbar_info {
    margin-left: 0.4em;
  }
  .footer__navbar_info-phone, .footer__navbar_info-languages, .footer__navbar_info-mail {
    font: 10px futurabook, sans-serif;
  }
  .anim {
    -webkit-animation-duration: 150s;
    /* Safari 4.0 - 8.0 */
    animation-duration: 150s;
  }
  .anim img {
    width: 125px;
    height: 250px;
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  .header__navbar {
    padding: 40px 0;
  }
  .header-futura p {
    font: 13px futurabook, sans-serif;
  }
  .header__navbar_menu {
    font: 13px futurabook, sans-serif;
  }
  .header__navbar_menu a {
    padding: 0.7em;
  }
  .header__navbar_logo {
    width: 20%;
    height: 60px;
    margin-left: 2em;
  }
  .contact__phone span a {
    font: 65px futurabook, sans-serif;
    color: #fff;
  }
  .contact {
    padding-top: 100px;
  }
  .contact__mail {
    font: 37px futurabook, sans-serif;
    margin-top: 9px;
  }
  .contact__consultation form {
    margin-top: 70px;
  }
  .contact__consultation_input {
    font: 18px futurabook, sans-serif;
    padding: 11px;
    width: 365px;
  }
  .contact__consultation_indent {
    margin-top: 15px;
  }
  .contact__consultation_button {
    margin-top: 30px;
    font: 17px futurabook_bold, sans-serif;
    padding: 10px;
    width: 270px;
  }
  .gradient_text {
    margin-top: 55px;
    font: 90px futurabook_bold, sans-serif;
    width: 45%;
  }
  .statistics__block {
    width: 33%;
    margin: 110px 0;
  }
  .statistics__wrap {
    padding: 0 22%;
  }
  .statistics__block_number span {
    font: 65px futurabook_light, sans-serif;
  }
  .statistic__block_description span {
    font: 13px futurabook, sans-serif;
    width: 40%;
  }
  .partners__wrap {
    padding: 40px 0;
    width: 100%;
  }
  .clients__wrap {
    padding: 40px 0;
  }
  .projects__block_title span {
    font: 27px futurabook_heavy, sans-serif;
    color: #333;
  }
  .projects__block_description span {
    font: 14px futurabook, sans-serif;
    color: #4d4d4d;
  }
  .projects__block_link span a {
    font: 20px futurabook_demi, sans-serif;
    color: #333;
    text-decoration: underline;
  }
  .projects__wrap {
    padding: 20px 0;
  }
  .projects__block_title {
    margin-top: 40px;
    width: 70%;
  }
  .projects__block_description {
    margin-top: 40px;
    width: 80%;
  }
  .projects__block_link {
    margin-top: 35px;
  }
  .offering__wrap {
    padding: 30px 0 20px;
  }
  .offering__block span {
    font: 40px futurabook_light, sans-serif;
  }
  .offering__block {
    margin-top: 20px;
  }
  .bests span {
    font: 17px futurabook, sans-serif;
    margin: 30px auto 55px;
  }
  .communication span {
    font: 35px futurabook_bold, sans-serif;
    margin: 0 auto 65px;
    width: 51%;
  }
  .piar span {
    font: 14px futurabook, sans-serif;
    margin: 0px auto;
  }
  .contact__consultation_bottom {
    padding-bottom: 115px;
  }
  .contact__consultation_bottom form {
    margin-top: 70px;
  }
  .contact__consultation_bottom-input {
    font: 18px futurabook, sans-serif;
    padding: 11px;
    width: 365px;
  }
  .contact__consultation_bottom-indent {
    margin-top: 15px;
  }
  .contact__consultation_bottom-button {
    margin-top: 30px;
    font: 17px futurabook_bold, sans-serif;
    padding: 10px;
    width: 270px;
  }
  .footer__navbar {
    padding: 40px 0;
  }
  .footer__navbar_menu {
    font: 13px futurabook, sans-serif !important;
  }
  .footer__navbar_menu a {
    padding: 0.7em;
  }
  .footer__navbar_logo {
    height: 60px;
    margin-left: 0.7em;
  }
  .footer__navbar_info {
    margin-left: 0.4em;
  }
  .footer__navbar_info-phone, .footer__navbar_info-languages, .footer__navbar_info-mail {
    font: 13px futurabook, sans-serif;
  }
  .anim {
    -webkit-animation-duration: 120s;
    /* Safari 4.0 - 8.0 */
    animation-duration: 120s;
  }
  .anim img {
    width: 170px;
    height: 350px;
  }
}

@media (max-width: 1290px) and (min-width: 1025px) {
  .gradient_text {
    width: 52%;
  }
  .anim {
    -webkit-animation-duration: 160s;
    /* Safari 4.0 - 8.0 */
    animation-duration: 160s;
  }
  .anim img {
    width: 150px;
    height: 320px;
  }
}

@media (max-width: 1920px) and (min-width: 1441px) {
  .header__navbar {
    padding: 105px 0;
  }
  .header-futura p {
    font: 31px futurabook, sans-serif;
  }
  .header__navbar_menu {
    font: 31px futurabook, sans-serif;
  }
  .header__navbar_menu a {
    padding: 0.4em;
  }
  .header__navbar_logo {
    width: 20%;
    height: 135px;
    margin-left: 2em;
  }
  .contact__phone span a {
    font: 150px futurabook, sans-serif;
    color: #fff;
  }
  .contact {
    padding-top: 185px;
  }
  .contact__mail {
    font: 80px futurabook, sans-serif;
    margin-top: 9px;
  }
  .contact__consultation form {
    margin-top: 140px;
  }
  .contact__consultation_input {
    font: 44px futurabook, sans-serif;
    padding: 20px;
    width: 830px;
  }
  .contact__consultation_indent {
    margin-top: 25px;
  }
  .contact__consultation_button {
    margin-top: 48px;
    font: 38px futurabook_bold, sans-serif;
    padding: 25px;
    width: 615px;
  }
  .gradient_text {
    margin-top: 120px;
    font: 225px futurabook_bold, sans-serif;
    width: 60%;
  }
  .statistics__block {
    width: 33%;
    margin: 180px 0;
  }
  .statistics__block_number span {
    font: 160px futurabook_light, sans-serif;
  }
  .statistic__block_description span {
    font: 35px futurabook, sans-serif;
    width: 50%;
  }
  .partners__wrap {
    padding: 40px 0;
    width: 100%;
  }
  .clients__wrap {
    padding: 65px 0;
  }
  .projects__block_title span {
    font: 55px futurabook_heavy, sans-serif;
    color: #333;
  }
  .projects__block_description span {
    font: 31px futurabook, sans-serif;
    color: #4d4d4d;
  }
  .projects__block_link span a {
    font: 40px futurabook_demi, sans-serif;
    color: #333;
    text-decoration: underline;
  }
  .projects__wrap {
    padding: 40px 0;
  }
  .projects__block_title {
    margin-top: 120px;
    width: 78%;
  }
  .projects__block_description {
    margin-top: 80px;
    width: 80%;
  }
  .projects__block_link {
    margin-top: 70px;
  }
  .offering__wrap {
    padding: 105px 0 40px;
  }
  .offering__block span {
    font: 92px futurabook_light, sans-serif;
  }
  .offering__block {
    margin-top: 45px;
  }
  .bests span {
    font: 42px futurabook, sans-serif;
    margin: 75px auto 100px;
  }
  .communication span {
    font: 81px futurabook_bold, sans-serif;
    margin: 0 auto 105px;
    width: 64%;
  }
  .piar span {
    font: 32px futurabook, sans-serif;
    margin: 0px auto;
  }
  .contact__consultation_bottom {
    padding-bottom: 140px;
  }
  .contact__consultation_bottom form {
    margin-top: 165px;
  }
  .contact__consultation_bottom-input {
    font: 44px futurabook, sans-serif;
    padding: 20px;
    width: 830px;
  }
  .contact__consultation_bottom-indent {
    margin-top: 25px;
  }
  .contact__consultation_bottom-button {
    margin-top: 48px;
    font: 38px futurabook_bold, sans-serif;
    padding: 25px;
    width: 615px;
  }
  .footer__navbar {
    padding: 105px 0;
  }
  .footer__navbar_menu {
    font: 28.7px futurabook, sans-serif !important;
  }
  .footer__navbar_menu a {
    padding: 0.4em;
  }
  .footer__navbar_logo {
    height: 135px;
    margin-left: 0.7em;
  }
  .footer__navbar_info {
    margin-left: 0.4em;
  }
  .footer__navbar_info-phone, .footer__navbar_info-languages, .footer__navbar_info-mail {
    font: 28.7px futurabook, sans-serif;
  }
  .anim {
    -webkit-animation-duration: 110s;
    /* Safari 4.0 - 8.0 */
    animation-duration: 110s;
  }
  .anim img {
    width: 300px;
    height: 650px;
  }
  @-webkit-keyframes example {
    0% {
      left: 75%;
      top: 0em;
    }
    25% {
      left: 75%;
      top: -600em;
    }
    50% {
      left: 75%;
      top: -600em;
    }
    75% {
      left: 75%;
      top: -600em;
    }
    100% {
      left: 75%;
      top: -600em;
    }
  }
  /* Standard syntax */
  @keyframes example {
    0% {
      left: 75%;
      top: 0em;
    }
    25% {
      left: 75%;
      top: -600em;
    }
    50% {
      left: 75%;
      top: -600em;
    }
    75% {
      left: 75%;
      top: -600em;
    }
    100% {
      left: 75%;
      top: -600em;
    }
  }
}

@media (max-width: 2600px) and (min-width: 1921px) {
  .header__navbar {
    padding: 105px 0;
  }
  .header-futura p {
    font: 30px futurabook, sans-serif;
  }
  .header__navbar_menu {
    font: 30px futurabook, sans-serif;
  }
  .header__navbar_menu a {
    padding: 0.9em;
  }
  .header__navbar_logo {
    width: 20%;
    height: 130px;
    margin-left: 2em;
  }
  .contact__phone span a {
    font: 140px futurabook, sans-serif;
    color: #fff;
  }
  .contact {
    padding-top: 185px;
  }
  .contact__mail {
    font: 75px futurabook, sans-serif;
    margin-top: 9px;
  }
  .contact__consultation form {
    margin-top: 140px;
  }
  .contact__consultation_input {
    font: 46px futurabook, sans-serif;
    padding: 25px;
    width: 885px;
  }
  .contact__consultation_indent {
    margin-top: 35px;
  }
  .contact__consultation_button {
    margin-top: 70px;
    font: 42px futurabook_bold, sans-serif;
    padding: 22px;
    width: 632px;
  }
  .gradient_text {
    margin-top: 160px;
    font: 210px futurabook_bold, sans-serif;
    width: 43%;
  }
  .statistics__block {
    width: 33%;
    margin: 130px 0;
  }
  .statistics__wrap {
    padding: 0px 23%
  }
  .statistics__block_number span {
    font: 140px futurabook_light, sans-serif;
  }
  .statistic__block_description span {
    font: 30px futurabook, sans-serif;
    width: 39%;
  }
  .partners__wrap {
    padding: 40px 0;
    width: 100%;
  }
  .clients__wrap {
    padding: 65px 0;
  }
  .projects__block_title span {
    font: 60px futurabook_heavy, sans-serif;
    color: #333;
  }
  .projects__block_description span {
    font: 30px futurabook, sans-serif;
    color: #4d4d4d;
  }
  .projects__block_link span a {
    font: 37px futurabook_demi, sans-serif;
    color: #333;
    text-decoration: underline;
  }
  .projects__wrap {
    padding: 40px 0;
  }
  .projects__block_title {
    margin-top: 150px;
    width: 62%;
  }
  .projects__block_description {
    margin-top: 105px;
  }
  .projects__block_link {
    margin-top: 85px;
  }
  .offering__wrap {
    padding: 105px 0 40px;
  }
  .offering__block span {
    font: 100px futurabook_light, sans-serif;
  }
  .offering__block {
    margin-top: 45px;
  }
  .bests span {
    font: 40px futurabook, sans-serif;
    margin: 130px auto 165px;
  }
  .communication span {
    font: 90px futurabook_bold, sans-serif;
    margin: 0 auto 125px;
  }
  .piar span {
    font: 33px futurabook, sans-serif;
    margin: 0px auto;
  }
  .contact__consultation_bottom {
    padding-bottom: 210px;
  }
  .contact__consultation_bottom form {
    margin-top: 140px;
  }
  .contact__consultation_bottom-input {
    font: 46px futurabook, sans-serif;
    padding: 25px;
    width: 885px;
  }
  .contact__consultation_bottom-indent {
    margin-top: 35px;
  }
  .contact__consultation_bottom-button {
    margin-top: 70px;
    font: 42px futurabook_bold, sans-serif;
    padding: 22px;
    width: 632px;
  }
  .footer__navbar {
    padding: 105px 0;
  }
  .footer__navbar_menu {
    font: 30px futurabook, sans-serif !important;
  }
  .footer__navbar_menu a {
    padding: 0.9em;
  }
  .footer__navbar_logo {
    height: 130px;
    margin-left: 0.7em;
  }
  .footer__navbar_info {
    margin-left: 0.4em;
  }
  .footer__navbar_info-phone, .footer__navbar_info-languages, .footer__navbar_info-mail {
    font: 30px futurabook, sans-serif;
  }
  .anim {
    -webkit-animation-duration: 100s;
    /* Safari 4.0 - 8.0 */
    animation-duration: 100s;
  }
  .anim img {
    width: 400px;
    height: 780px;
  }
  @-webkit-keyframes example {
    0% {
      left: 75%;
      top: 0em;
    }
    25% {
      left: 75%;
      top: -700em;
    }
    50% {
      left: 75%;
      top: -700em;
    }
    75% {
      left: 75%;
      top: -700em;
    }
    100% {
      left: 75%;
      top: -700em;
    }
  }
  /* Standard syntax */
  @keyframes example {
    0% {
      left: 75%;
      top: 0em;
    }
    25% {
      left: 75%;
      top: -700em;
    }
    50% {
      left: 75%;
      top: -700em;
    }
    75% {
      left: 75%;
      top: -700em;
    }
    100% {
      left: 75%;
      top: -700em;
    }
  }
}
