.container{
    width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.header {
    margin: 15px 0;
}

.burger {
    background-color: #362f2f;
    color: #fefefe;
    padding: 10px 15px;
    font-size: 24px;
    margin: 0 15px;
    border: none;
    
}

.yellow-square {
    
}

.social-icons a {
    color: #362f2f;
    padding: 0 15px 0 0;
    font-size: 12px;
}

.social-icons a {
    padding: 0 15px 0 0;
}

.main-wrapper {
    position: relative; 
    margin: 0 0 63px 0;
}

.main-wrapper img {
    width: 100%;
    z-index: 0;
    
}

.info {
    position: absolute;
    bottom: 4px;
    left: 0;
    z-index: 1;
    font-size: 12px;
    border: none;
    background-color: #fff;
    padding: 30px;
}


.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.news-left img{
  
/*    padding: 0 0 210px 0;*/
}

.news-left, .news-center, .news-right {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 15px;
}

.RobotoCondensed-Light {
    font-size: 16px;
    text-transform: uppercase;
    font-family: RobotoCondensed-Light;
}

.FW-text, .time-text, .Nov-text, .rsvp {
    color: #fff;
}

.FW-text, .time-text {
    text-transform: uppercase;
    font-family: RobotoCondensed-Light;
}

.FW-text {
    font-size: 18px;
    padding: 22px 0 15px 0;
}

.Nov-text{
    text-transform: uppercase;
    font-family: RobotoCondensed-Regular;
    padding: 0 0 13px 0;
}

.time-text {
    padding: 0 0 25px 0;
}

.rsvp {
    text-transform: uppercase;
    font-family: RobotoCondensed-Bold;
    padding: 25px 15px;
    background-color: #c3a000;
    
}

.news-left{
    background-color: #000;
    height: 360px;
/*
    background-color: #000;
    position: relative;
    z-index: 0;
    margin 0 0 24px 0;
*/
}

.left-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 210px;
    background-color: #000;
    position: relative;
    z-index: 0;
    
}

h2 {
    border-bottom: 1px solid #c3a000;
    width: 50%;
    padding: 0 0 7px 0;
    margin: 0;
    
}

h3 {
    font-size: 14px;
    text-transform: uppercase;
    font-family: RobotoCondensed-Bold;
    margin: 0;
}

h4 {
    font-size: 12px;
    text-transform: uppercase;
    font-family: RobotoCondensed-Regular;
    color: #afafaf;
    margin: 0 0 5px 0;
}

.text {
    font-size: 12px;
    font-family: RobotoCondensed-Regular;
    margin: 0;
}

p {
    margin: 0;
}

.news-center-big {
    margin: 25px 0 0 0;
    display: flex;
    flex-direction: column;
}

.news-center-big-inner {
    display: flex;
    flex-direction: row;
    margin: 0 0 40px 0;
}

.news-center-big-inner:last-child {
    margin: 0;
}

.news-center-text {
    margin: 0 15px;
}



.news-right {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.news-right-square {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 30px 0 75px 0;
}

.news-right-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.news-right-square-communication {
    
}

.news-right-square-communication a {
    color: black;
    display: flex;
    flex-direction: row;
    margin: 0 0 10px 35px;
    text-decoration: none;
    align-items: center;
}

.news-right-square-icons {
    margin: 15px 0 0 33px;
    width: 130px;
    display: flex;
    justify-content: center;
}

.news-right-square-icons a{
    color: black;
    padding: 0 15px 0 0;
    font-size: 12px;
}

.news-right-square-icons a:last-child {
    padding: 0;
}

.number-mail {
    margin: 0 0 0 20px;
}

.news-right-under{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.news-right-under a{
    font-size: 24px;
    color: black;
    margin: 0 0 20px 0;
}

.under-text {
    font-family: RobotoCondensed-LightItalic;
    color: #c3a000;
    font-size: 18px;
    text-align: center;
}

.black {
    color: black;
}

footer {
    margin: 85px 0 0 0;
}

.sponsors{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.sponsors img {
    margin: 0 120px 0 0;

}

.sponsors img:first-child {
    margin-left: 30px;
}

.sponsors img:last-child {
    margin: 0 30px 0 0;
}

.footer {
    font-size: 13px;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 105px 0 50px 0;
}






