@font-face {
    font-family: 'Andale';
    src:  url('../fonts/Andale.ttf');
}
@font-face {
    font-family: 'Bombardier';
    src:  url('../fonts/Bombardier.ttf');
}
@font-face {
    font-family: 'Helvetica';
    src:  url('../fonts/HelveticaNeue.ttf');
}
@font-face {
    font-family: 'Crill';
    src:  url('../fonts/Crill.otf');
}
@font-face {
    font-family: 'Fagora';
    src:  url('../fonts/Fagora.ttf');
}
@font-face {
    font-family: 'Cinzel';
    src:  url('../fonts/Cinzel.ttf');
}