* {
    box-sizing: border-box;
}

@keyframes rotat {
    from {
        transform: rotate(0deg); 
    }
    to {
        transform: rotate(360deg); 
    }
}

button {
    cursor: pointer;
    outline: 0;
}
input {
    outline: 0;
}

.white {
    &__button {
        border: none;
        border-radius: 10px;
        padding: 15px;
        background-color: #fff;
        font: 20px 'Andale', sans-serif;
        transition: .6s;
        &:hover {
            background-color: #deeaff;
        }
        &_wrapper {
            display: flex;
            justify-content: center;
            margin-top: 40px;
        }
    }
}

.top__button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffd009;
    width: 50px;
    height: 50px;
    color: #fff;
    font-size: 28px;
    border-radius: 5px;
    position: fixed;
    bottom: 15px;
    right: 15px;
    transition: background-color .3s, 
    opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    &:hover {
        cursor: pointer;
        background-color: #FF9800;
    }
    &:active {
        background-color: #555;
    }
    &.show {
        opacity: 1;
        color: #fff;
        font-size: 28px;
        visibility: visible;
    }
}

.login {
    &__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        & h1 {
            font: 40px 'Andale', sans-serif;
        }
        &_inner {
            list-style-type: none;
            margin: 0 0 50px 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            & .white__button_wrapper {
                margin: 0;
                padding: 0;
            }
        }
        &_item {
            margin-bottom: 40px;
            width: 100%;
            display: flex;
            & input {
                padding: 15px;
                font: 20px 'Andale', sans-serif;
                border: 1px solid #fff;    
                border-radius: 5px 5px 0 0;
                width: 328px;
                &:focus {
                    border-bottom: 1px solid #6ccbfa;
                }
            }
        }
    }
}