@import "./fontawesome/fontawesome.scss";
@import "./fontawesome/solid.scss";
@import "./fontawesome/brands.scss";

.header__menu_wrapper-mobile {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    margin: 0;
    padding: 17px 15px;
    text-transform: uppercase;
    line-height: 2em;
    color: #fff;
    font-size: 20px;
    background-color: #4a4d57;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transform: translateX(-100%);
    transition: transform .3s;
    will-change: transform;
    backface-visibility: hidden;
    z-index: 10000;
}

.flex {
    display: flex;
    flex-direction: column;
}

.hidden {
    overflow-y: hidden;
}

.menuUp {
    transform: translateX(0);
}
.menuDown {
    transform: translateX(-101%);
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

header {
    background-color: #4a4d57;
    padding: 30px 0 50px;
}

.header__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &-wrapper{
        display: flex;
        justify-content: flex-end;
    }
    &_wrapper-mobile li {
        list-style: none;
    }
    &_button-mobile {
        background-color: transparent;
        border: none;
        font-size: 30px;
        color: #f9f9f9;
        padding: 10px 5% 10px 10px;
    }
    &_main-mobile {
        padding: 0;
        margin: 0 0 0 20px;
    }
    &_authorization_key-mobile {
        font-size: 32px;
    }
    &_authorization-mobile {
        padding: 0;
        margin: 0 0 0 20px;
    }
    &-mobile {
        user-select: none;
        display: flex;
        flex-direction: row;
    }
    &_atom {
        width: 25%;
        height: 25%;
        animation: rotat infinite 3s linear;
    }
    &_link {
        text-decoration: none;
    }
    &_main {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0;
        & ul {
            display: flex;
            flex-direction: row;
            padding: 0;
            margin: 0;
        }
    }
    &_authorization {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        & ul {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0;
            margin: 0;
        }
        &_key {
            font-size: 50px!important;
        }
    }
    &_item-mobile {
        display: block;
        text-decoration: none;
        color: #fff;
    }
    &_item {
        list-style: none;
        margin-right: 20px;
        & a {
            text-decoration: none;
            font: 25px 'Andale', sans-serif;
            color: #f9f9f9;
            padding: 15px;
            &:hover {
                color: #6ccbfa;
            }
        }
        &:last-child {
            margin-right: 0;
        }
    }
}

.header__logo {
    &_link {
        display: none;
    }
}