@media (min-width: 1201px) {
    .header {
        &__menu-mobile {
            display: none;
        }
        &__menu {
            padding-top: 20px;
        }
    }
}

@media (max-width: 1200.98px) and (min-width: 1024px) {
    .header {
        &__menu-mobile {
            display: none;
        }
        &__menu {
            padding-top: 20px;
        }
    }
}

@media (max-width: 1023.98px) and (min-width: 915px) {
    
    header {
        padding: 50px 0;
    }

    main {
        padding: 0;
    }

    section {
        padding: 25px 0;
    }

    .header {
        &__menu-mobile {
            display: none;
        }
    }

    .courses {
        &__main {
            &_mrc {
                text-align: center;
                &_logo {
                    width: 12%;
                    &-wrapper {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
    }

    .course {
        &__title {
            font: 34px 'Andale', sans-serif;
            display: block;
            margin-bottom: 35px;
        }
        &__wrapper {
            margin: 0;
            flex-direction: column;
            width: 100%;
            justify-content: center;
            align-items: center;
        }
        &__segment {
            width: 310px;
            margin: 0 0 30px;
        }
        &__button {
            &_wrapper {
                margin-top: 0;
            }
        }
    }

    .author {
        &__background {
            margin-top: 0;
        }
        &__wrapper {
            padding-top: 35px;
        }
        &__info {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            &_photo {
                margin: 0;
                width: 40%;
                height: 40%;
            }
            &_inner {
                &-text {
                    width: 100%;
                    font-size: 17px;
                }
                &_socials {
                    display: flex;
                    justify-content: center;
                }
                margin-top: 30px;
            }
        }
        &__title {
            font-size: 32px;
            padding: 0;
            margin-bottom: 30px;
        }
    }
}

@media (max-width: 914.98px) and (min-width: 768px) {
    header {
        padding: 0;
    }

    main {
        padding: 0;
    }

    section {
        padding: 25px 0;
    }

    .header {
        &__menu {
            display: none;
            &_link {
                margin-right: 4%;
            }
            &_button-mobile {
                font-size: 40px;
            }
            &_wrapper-mobile {
                font-size: 25px;
                padding: 30px 15px;
            }
            &_atom {
                width: 15%;
                height: 15%;
            }
        }
        &__logo_link {
            display: none;
        }
    }

    .courses {
        &__main {
            &_mrc {
                text-align: center;
                padding-top: 13px;
                &_logo {
                    width: 18%;
                    &-wrapper {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
                &_description {
                    font: 27px 'Andale', sans-serif;
                }
            }
            &_description-inner {
                font-size: 18px;
                width: 290px;
            }
        }
    }

    .course {
        &__title {
            font: 34px 'Andale', sans-serif;
            display: block;
            margin-bottom: 35px;
        }
        &__wrapper {
            margin: 0;
            flex-direction: column;
            width: 100%;
            justify-content: center;
            align-items: center;
        }
        &__segment {
            width: 310px;
            margin: 0 0 30px;
        }
        &__button {
            &_wrapper {
                margin-top: 0;
            }
        }
    }

    .author {
        &__background {
            margin-top: 0;
        }
        &__wrapper {
            padding-top: 35px;
        }
        &__info {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            &_photo {
                margin: 0;
                width: 40%;
                height: 40%;
            }
            &_inner {
                &-text {
                    width: 100%;
                    font-size: 17px;
                }
                &_socials {
                    display: flex;
                    justify-content: center;
                }
                margin-top: 30px;
            }
        }
        &__title {
            font-size: 32px;
            padding: 0;
            margin-bottom: 30px;
        }
    }
}

@media (max-width: 767.98px) and (min-width: 425px) {

    header {
        padding: 0;
    }

    main {
        padding: 0;
    }

    section {
        padding: 25px 0;
    }

    .header {
        &__menu {
            display: none;
            &_link {
                margin-right: 4%;
            }
            &_button-mobile {
                font-size: 40px;
            }
            &_wrapper-mobile {
                font-size: 25px;
            }
            &_atom {
                width: 17%;
                height: 17%;
            }
        }
        &__logo_link {
            display: none;
        }
    }

    .courses {
        &__main {
            &_mrc {
                text-align: center;
                padding-top: 13px;
                &_logo {
                    width: 30%;
                    &-wrapper {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
                &_description {
                    font: 24px 'Andale', sans-serif;
                }
            }
            &_description-inner {
                font-size: 18px;
                width: 290px;
            }
        }
    }

    .course {
        &__title {
            font: 34px 'Andale', sans-serif;
            display: block;
            margin-bottom: 35px;
        }
        &__wrapper {
            margin: 0;
            flex-direction: column;
            width: 100%;
            justify-content: center;
            align-items: center;
        }
        &__segment {
            width: 310px;
            margin: 0 0 30px;
        }
        &__button {
            &_wrapper {
                margin-top: 0;
            }
        }
    }

    .author {
        &__background {
            margin-top: 0;
        }
        &__wrapper {
            padding-top: 35px;
        }
        &__info {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            &_photo {
                margin: 0;
                width: 40%;
                height: 40%;
            }
            &_inner {
                &-text {
                    width: 100%;
                    font-size: 17px;
                }
                &_socials {
                    display: flex;
                    justify-content: center;
                }
                margin-top: 30px;
            }
        }
        &__title {
            font-size: 32px;
            padding: 0;
            margin-bottom: 30px;
        }
    }
}

@media (max-width: 424.98px) and (min-width: 375px) {

    header {
        padding: 0;
    }

    main {
        padding: 0;
    }

    section {
        padding: 25px 0;
    }

    .header {
        &__menu {
            display: none;
            &_link {
                margin-right: 4%;
            }
        }
        &__logo_link {
            display: none;
        }
    }

    .courses {
        &__main {
            &_mrc {
                text-align: center;
                padding-top: 13px;
                &_logo {
                    width: 30%;
                    &-wrapper {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
                &_description {
                    font: 24px 'Andale', sans-serif;
                }
            }
            &_description-inner {
                font-size: 18px;
                width: 290px;
            }
        }
    }

    .course {
        &__title {
            font: 34px 'Andale', sans-serif;
            display: block;
            margin-bottom: 35px;
        }
        &__wrapper {
            margin: 0;
            flex-direction: column;
            width: 100%;
            justify-content: center;
            align-items: center;
        }
        &__segment {
            width: 310px;
            margin: 0 0 30px;
        }
        &__button {
            &_wrapper {
                margin-top: 0;
            }
        }
    }

    .author {
        &__background {
            margin-top: 0;
        }
        &__wrapper {
            padding-top: 35px;
        }
        &__info {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            &_photo {
                margin: 0;
                width: 40%;
                height: 40%;
            }
            &_inner {
                &-text {
                    width: 100%;
                    font-size: 17px;
                }
                &_socials {
                    display: flex;
                    justify-content: center;
                }
                margin-top: 30px;
            }
        }
        &__title {
            font-size: 32px;
            padding: 0;
            margin-bottom: 30px;
        }
    }
}

@media (max-width: 374.98px) and (min-width: 320px) {

    header {
        padding: 0;
    }

    main {
        padding: 0;
    }

    section {
        padding: 25px 0;
    }

    .header {
        &__menu {
            display: none;
            &_link {
                margin-right: 4%;
            }
        }
        &__logo_link {
            display: none;
        }
    }

    .courses {
        &__main {
            &_mrc {
                text-align: center;
                padding-top: 10px;
                &_logo {
                    width: 30%;
                    &-wrapper {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
                &_description {
                    font: 20px 'Andale', sans-serif;
                }
            }
            &_description-inner {
                font-size: 15px;
                width: 250px;
            }
        }
    }

    .course {
        &__title {
            font: 30px 'Andale', sans-serif;
            display: block;
            margin-bottom: 35px;
        }
        &__wrapper {
            margin: 0;
            flex-direction: column;
            width: 100%;
        }
        &__segment {
            width: 100%;
            margin: 0 0 30px;
        }
        &__button {
            &_wrapper {
                margin-top: 0;
            }
        }
    }

    .author {
        &__background {
            margin-top: 0;
        }
        &__wrapper {
            padding-top: 35px;
        }
        &__info {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            &_photo {
                margin: 0;
                width: 40%;
                height: 40%;
            }
            &_inner {
                &-text {
                    width: 100%;
                    font-size: 15px;
                }
                &_socials {
                    display: flex;
                    justify-content: center;
                }
                margin-top: 30px;
            }
        }
        &__title {
            font-size: 32px;
            padding: 0;
            margin-bottom: 30px;
        }
    }
}

@media (max-width: 319.98px) {

    header {
        padding: 0;
    }

    main {
        padding: 0;
    }

    section {
        padding: 25px 0;
    }

    .header {
        &__menu {
            display: none;
            &_link {
                margin-right: 4%;
            }
        }
        &__logo_link {
            display: none;
        }
    }

    .courses {
        &__main {
            &_mrc {
                text-align: center;
                padding-top: 10px;
                &_logo {
                    width: 30%;
                    &-wrapper {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
                &_description {
                    font: 20px 'Andale', sans-serif;
                }
            }
            &_description-inner {
                font-size: 15px;
                width: 250px;
            }
        }
    }

    .course {
        &__title {
            font: 30px 'Andale', sans-serif;
            display: block;
            margin-bottom: 35px;
        }
        &__wrapper {
            margin: 0;
            flex-direction: column;
            width: 100%;
        }
        &__segment {
            width: 100%;
            margin: 0 0 30px;
        }
        &__button {
            &_wrapper {
                margin-top: 0;
            }
        }
    }

    .author {
        &__background {
            margin-top: 0;
        }
        &__wrapper {
            padding-top: 35px;
        }
        &__info {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            &_photo {
                margin: 0;
                width: 40%;
                height: 40%;
            }
            &_inner {
                &-text {
                    width: 100%;
                    font-size: 15px;
                }
                &_socials {
                    display: flex;
                    justify-content: center;
                }
                margin-top: 30px;
            }
        }
        &__title {
            font-size: 32px;
            padding: 0;
            margin-bottom: 30px;
        }
    }
}
