@media (min-width: 1201px) {
    .header {
        &__menu-mobile {
            display: none;
        }
        &__menu {
            padding-top: 20px;
        }
    }
}

@media (max-width: 1200.98px) and (min-width: 1024px) {
    .header {
        &__menu-mobile {
            display: none;
        }
        &__menu {
            padding-top: 20px;
        }
    }
}

@media (max-width: 1023.98px) and (min-width: 915px) {
    
    header {
        padding: 50px 0;
    }

    main {
        padding: 0;
    }

    section {
        padding: 25px 0;
    }

    .header {
        &__menu-mobile {
            display: none;
        }
    }

}

@media (max-width: 914.98px) and (min-width: 768px) {
    header {
        padding: 0;
    }

    main {
        padding: 0;
    }

    section {
        padding: 25px 0;
    }

    .header {
        &__menu {
            display: none;
            &_link {
                margin-right: 4%;
            }
            &_button-mobile {
                font-size: 40px;
            }
            &_wrapper-mobile {
                font-size: 25px;
                padding: 30px 15px;
            }
            &_atom {
                width: 15%;
                height: 15%;
            }
        }
        &__logo_link {
            display: none;
        }
    }

}

@media (max-width: 767.98px) and (min-width: 425px) {

    header {
        padding: 0;
    }

    main {
        padding: 0;
    }

    section {
        padding: 25px 0;
    }

    .header {
        &__menu {
            display: none;
            &_link {
                margin-right: 4%;
            }
            &_button-mobile {
                font-size: 40px;
            }
            &_wrapper-mobile {
                font-size: 25px;
            }
            &_atom {
                width: 17%;
                height: 17%;
            }
        }
        &__logo_link {
            display: none;
        }
    }

}

@media (max-width: 424.98px) and (min-width: 375px) {

    header {
        padding: 0;
    }

    main {
        padding: 0;
    }

    section {
        padding: 25px 0;
    }

    .header {
        &__menu {
            display: none;
            &_link {
                margin-right: 4%;
            }
        }
        &__logo_link {
            display: none;
        }
    }

    .login {
        &__form {
            &_inner {
                width: 100%;
            }
            &_item {
                width: 100%;
                display: flex;
                & input {
                    width: 100%;
                }
            }
        }
    }

}

@media (max-width: 374.98px) and (min-width: 320px) {

    header {
        padding: 0;
    }

    main {
        padding: 0;
    }

    section {
        padding: 25px 0;
    }

    .header {
        &__menu {
            display: none;
            &_link {
                margin-right: 4%;
            }
        }
        &__logo_link {
            display: none;
        }
    }

    .login {
        &__form {
            & h1 {
                font: 30px 'Andale', sans-serif;
            }
            &_inner {
                width: 100%;
            }
            &_item {
                width: 100%;
                display: flex;
                & input {
                    width: 100%;
                }
            }
        }
    }

}

@media (max-width: 319.98px) {

    header {
        padding: 0;
    }

    main {
        padding: 0;
    }

    section {
        padding: 25px 0;
    }

    .header {
        &__menu {
            display: none;
            &_link {
                margin-right: 4%;
            }
        }
        &__logo_link {
            display: none;
        }
    }

    .login {
        &__form {
            & h1 {
                font: 30px 'Andale', sans-serif;
            }
            &_inner {
                width: 100%;
            }
            &_item {
                width: 100%;
                display: flex;
                & input {
                    width: 100%;
                }
            }
        }
    }

}
