@font-face {
  font-family: 'Andale';
  src: url("../fonts/Andale.ttf"); }

@font-face {
  font-family: 'Bombardier';
  src: url("../fonts/Bombardier.ttf"); }

@font-face {
  font-family: 'Crill';
  src: url("../fonts/Crill.otf"); }
