@media (min-width: 1201px) {
  .header__menu-mobile {
    display: none; }
  .header__menu {
    padding-top: 20px; } }

@media (max-width: 1200.98px) and (min-width: 1024px) {
  .header__menu-mobile {
    display: none; }
  .header__menu {
    padding-top: 20px; } }

@media (max-width: 1023.98px) and (min-width: 915px) {
  header {
    padding: 0; }
  main {
    padding: 0; }
  section {
    padding: 25px 0; }
  .header__menu-mobile {
    display: none; }
  .header__menu {
    padding-top: 30px; }
  .courses__main_start {
    text-align: center;
    font: 32px 'Arial', sans-serif;
    padding-top: 45px; }
  .courses__main_description-inner {
    font-size: 18px;
    width: 250px; }
  .course__title {
    font: 34px 'Andale', sans-serif;
    display: block;
    margin-bottom: 35px; }
  .course__wrapper {
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .course__segment {
    width: 310px;
    margin: 0 0 30px; }
  .author__background {
    margin-top: 0; }
  .author__wrapper {
    padding-top: 35px; }
  .author__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .author__info_photo {
      margin: 0;
      width: 40%;
      height: 40%; }
    .author__info_inner {
      margin-top: 30px; }
      .author__info_inner-text {
        width: 100%;
        font-size: 17px; }
      .author__info_inner_socials {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; }
  .author__title {
    font-size: 32px;
    padding: 0;
    margin-bottom: 30px; } }

@media (max-width: 914.98px) and (min-width: 768px) {
  header {
    padding: 0; }
  main {
    padding: 0; }
  section {
    padding: 25px 0; }
  .header__menu {
    display: none; }
    .header__menu_link {
      margin-right: 4%; }
    .header__menu_button-mobile {
      font-size: 40px; }
    .header__menu_wrapper-mobile {
      font-size: 25px;
      padding: 30px 15px; }
    .header__menu_atom {
      width: 15%;
      height: 15%; }
  .header__logo_link {
    display: none; }
  .courses__main_start {
    text-align: center;
    font: 32px 'Arial', sans-serif;
    padding-top: 45px; }
  .courses__main_description-inner {
    font-size: 18px;
    width: 250px; }
  .course__title {
    font: 34px 'Andale', sans-serif;
    display: block;
    margin-bottom: 35px; }
  .course__wrapper {
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .course__segment {
    width: 310px;
    margin: 0 0 30px; }
  .author__background {
    margin-top: 0; }
  .author__wrapper {
    padding-top: 35px; }
  .author__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .author__info_photo {
      margin: 0;
      width: 40%;
      height: 40%; }
    .author__info_inner {
      margin-top: 30px; }
      .author__info_inner-text {
        width: 100%;
        font-size: 17px; }
      .author__info_inner_socials {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; }
  .author__title {
    font-size: 32px;
    padding: 0;
    margin-bottom: 30px; } }

@media (max-width: 767.98px) and (min-width: 425px) {
  header {
    padding: 0; }
  main {
    padding: 0; }
  section {
    padding: 25px 0; }
  .header__menu {
    display: none; }
    .header__menu_link {
      margin-right: 4%; }
    .header__menu_button-mobile {
      font-size: 40px; }
    .header__menu_wrapper-mobile {
      font-size: 25px; }
    .header__menu_atom {
      width: 20%;
      height: 20%; }
  .header__logo_link {
    display: none; }
  .courses__main_start {
    text-align: center;
    font: 32px 'Arial', sans-serif;
    padding-top: 45px; }
  .courses__main_description-inner {
    font-size: 18px;
    width: 250px; }
  .course__title {
    font: 34px 'Andale', sans-serif;
    display: block;
    margin-bottom: 35px; }
  .course__wrapper {
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .course__segment {
    width: 310px;
    margin: 0 0 30px; }
  .author__background {
    margin-top: 0; }
  .author__wrapper {
    padding-top: 35px; }
  .author__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .author__info_photo {
      margin: 0;
      width: 40%;
      height: 40%; }
    .author__info_inner {
      margin-top: 30px; }
      .author__info_inner-text {
        width: 100%;
        font-size: 17px; }
      .author__info_inner_socials {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; }
  .author__title {
    font-size: 32px;
    padding: 0;
    margin-bottom: 30px; } }

@media (max-width: 424.98px) and (min-width: 375px) {
  header {
    padding: 0; }
  main {
    padding: 0; }
  section {
    padding: 25px 0; }
  .header__menu {
    display: none; }
    .header__menu_link {
      margin-right: 4%; }
  .header__logo_link {
    display: none; }
  .courses__main_start {
    text-align: center;
    font: 32px 'Arial', sans-serif;
    padding-top: 45px; }
  .courses__main_description-inner {
    font-size: 18px;
    width: 250px; }
  .course__title {
    font: 34px 'Andale', sans-serif;
    display: block;
    margin-bottom: 35px; }
  .course__wrapper {
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .course__segment {
    width: 310px;
    margin: 0 0 30px; }
  .author__background {
    margin-top: 0; }
  .author__wrapper {
    padding-top: 35px; }
  .author__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .author__info_photo {
      margin: 0;
      width: 40%;
      height: 40%; }
    .author__info_inner {
      margin-top: 30px; }
      .author__info_inner-text {
        width: 100%;
        font-size: 17px; }
      .author__info_inner_socials {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; }
  .author__title {
    font-size: 32px;
    padding: 0;
    margin-bottom: 30px; } }

@media (max-width: 374.98px) and (min-width: 320px) {
  header {
    padding: 0; }
  main {
    padding: 0; }
  section {
    padding: 25px 0; }
  .header__menu {
    display: none; }
    .header__menu_link {
      margin-right: 4%; }
  .header__logo_link {
    display: none; }
  .courses__main_start {
    text-align: center;
    font: 25px 'Arial', sans-serif;
    padding-top: 45px; }
  .courses__main_description-inner {
    font-size: 18px;
    width: 250px; }
  .course__title {
    font: 30px 'Andale', sans-serif;
    display: block;
    margin-bottom: 35px; }
  .course__wrapper {
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%; }
  .course__segment {
    width: 100%;
    margin: 0 0 30px; }
  .author__background {
    margin-top: 0; }
  .author__wrapper {
    padding-top: 35px; }
  .author__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .author__info_photo {
      margin: 0;
      width: 40%;
      height: 40%; }
    .author__info_inner {
      margin-top: 30px; }
      .author__info_inner-text {
        width: 100%;
        font-size: 15px; }
      .author__info_inner_socials {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; }
  .author__title {
    font-size: 32px;
    padding: 0;
    margin-bottom: 30px; } }

@media (max-width: 319.98px) {
  header {
    padding: 0; }
  main {
    padding: 0; }
  section {
    padding: 25px 0; }
  .header__menu {
    display: none; }
    .header__menu_link {
      margin-right: 4%; }
  .header__logo_link {
    display: none; }
  .courses__main_start {
    text-align: center;
    font: 25px 'Arial', sans-serif;
    padding-top: 45px; }
  .courses__main_description-inner {
    font-size: 18px;
    width: 250px; }
  .course__title {
    font: 30px 'Andale', sans-serif;
    display: block;
    margin-bottom: 35px; }
  .course__wrapper {
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%; }
  .course__segment {
    width: 100%;
    margin: 0 0 30px; }
  .author__background {
    margin-top: 0; }
  .author__wrapper {
    padding-top: 35px; }
  .author__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .author__info_photo {
      margin: 0;
      width: 40%;
      height: 40%; }
    .author__info_inner {
      margin-top: 30px; }
      .author__info_inner-text {
        width: 100%;
        font-size: 15px; }
      .author__info_inner_socials {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; }
  .author__title {
    font-size: 32px;
    padding: 0;
    margin-bottom: 30px; } }
