@media (min-width: 1201px) {
  .header__menu-mobile {
    display: none; }
  .header__menu {
    padding-top: 20px; } }

@media (max-width: 1200.98px) and (min-width: 1024px) {
  .header__menu-mobile {
    display: none; }
  .header__menu {
    padding-top: 20px; } }

@media (max-width: 1023.98px) and (min-width: 915px) {
  header {
    padding: 50px 0; }
  main {
    padding: 0; }
  section {
    padding: 25px 0; }
  .header__menu-mobile {
    display: none; } }

@media (max-width: 914.98px) and (min-width: 768px) {
  header {
    padding: 0; }
  main {
    padding: 0; }
  section {
    padding: 25px 0; }
  .header__menu {
    display: none; }
    .header__menu_link {
      margin-right: 4%; }
    .header__menu_button-mobile {
      font-size: 40px; }
    .header__menu_wrapper-mobile {
      font-size: 25px;
      padding: 30px 15px; }
    .header__menu_atom {
      width: 15%;
      height: 15%; }
  .header__logo_link {
    display: none; } }

@media (max-width: 767.98px) and (min-width: 425px) {
  header {
    padding: 0; }
  main {
    padding: 0; }
  section {
    padding: 25px 0; }
  .header__menu {
    display: none; }
    .header__menu_link {
      margin-right: 4%; }
    .header__menu_button-mobile {
      font-size: 40px; }
    .header__menu_wrapper-mobile {
      font-size: 25px; }
    .header__menu_atom {
      width: 17%;
      height: 17%; }
  .header__logo_link {
    display: none; } }

@media (max-width: 424.98px) and (min-width: 375px) {
  header {
    padding: 0; }
  main {
    padding: 0; }
  section {
    padding: 25px 0; }
  .header__menu {
    display: none; }
    .header__menu_link {
      margin-right: 4%; }
  .header__logo_link {
    display: none; } }

@media (max-width: 374.98px) and (min-width: 320px) {
  header {
    padding: 0; }
  main {
    padding: 0; }
  section {
    padding: 25px 0; }
  .header__menu {
    display: none; }
    .header__menu_link {
      margin-right: 4%; }
  .header__logo_link {
    display: none; } }

@media (max-width: 319.98px) {
  header {
    padding: 0; }
  main {
    padding: 0; }
  section {
    padding: 25px 0; }
  .header__menu {
    display: none; }
    .header__menu_link {
      margin-right: 4%; }
  .header__logo_link {
    display: none; } }
