@font-face {
  font-family: futurabook;
  src: url(../fonts/FuturaPTBook.otf);
}

@font-face {
  font-family: futurabook_bold;
  src: url(../fonts/FuturaPTBold.otf);
}

@font-face {
  font-family: futurabook_light;
  src: url(../fonts/FuturaPTLight.otf);
}

@font-face {
  font-family: futurabook_demi;
  src: url(../fonts/FuturaPTDemi.otf);
}

@font-face {
  font-family: futurabook_extraBold;
  src: url(../fonts/FuturaPTExtraBold.otf);
}

@font-face {
  font-family: futurabook_heavy;
  src: url(../fonts/FuturaPTHeavy.otf);
}

@font-face {
  font-family: futurabook_medium;
  src: url(../fonts/FuturaPTMedium.otf);
}

body {
  width: 100%;
}

*, :after, :before {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
}

.active {
  font-family: futurabook_bold;
}

.header-futura p {
  font: 17px futurabook, sans-serif;
}

.header__navbar {
  padding: 80px 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.header__navbar_wrap {
  background-color: #fff;
}

.header__navbar_logo {
  background: url(../img/logo.png) no-repeat center center;
  -webkit-background-size: contain;
  background-size: contain;
  width: 20%;
  height: 80px;
  margin-left: 2em;
}

.header__navbar_copy {
  width: 26%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  align-items: center;
}

.header__navbar_menu {
  width: 54%;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  align-items: center;
  font: 17px futurabook, sans-serif;
}

.header__navbar_menu a {
  color: #000;
  padding: 1em;
  display: block;
  text-decoration: none;
}

.statistics__wrap {
  padding: 0 17%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}

.statistics__block {
  width: 33%;
  margin: 140px 0;
}

.statistics__block_number span {
  display: block;
  font: 100px futurabook_light, sans-serif;
}

.statistic__block_description span {
  font: 16px futurabook, sans-serif;
  width: 32%;
  display: block;
  margin: auto;
}

.images__wrap {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: center;
}

.image__left {
  width: 100%;
  margin-right: 30px;
}

.image__right {
  width: 100%;
}

.image__right img {
  width: 100%;
  height: 100%;
}

.image__left img {
  width: 100%;
  height: 100%;
}

.technology__wrap {
  padding: 80px 0 140px;
}

.technology__inner-wrap {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.technology__title {
  margin-right: 200px;
  font: 38px futurabook_heavy, sans-serif;
}

.technology__description {
  width: 40%;
  font: 16px futurabook_light, sans-serif;
}

.glasses {
  width: 80%;
  display: flex;
  align-items: center;
  margin: auto;
}

.glasses img {
  width: 100%;
}

.test__wrap {
  padding: 140px 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.test__title {
  font: 65px futurabook_heavy, sans-serif;
  margin-bottom: 60px;
}

.test__subtitle {
  font: 30px futurabook, sans-serif;
}

.footer__navbar {
  padding: 80px 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.footer__navbar {
  background-color: #fff;
}

.footer__navbar_logo {
  background: url(../img/logo.png) no-repeat center center;
  -webkit-background-size: contain;
  background-size: contain;
  width: 25%;
  height: 80px;
  margin-left: 2em;
}

.footer__navbar_info {
  width: 25%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.footer__navbar_info-languages a {
  color: #000;
}

.footer__navbar_info-phone, .footer__navbar_info-mail {
  font: 17px futurabook, sans-serif;
}

.footer__navbar_menu {
  width: 50%;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  align-items: center;
  font: 17px futurabook, sans-serif;
}

.footer__navbar_menu a {
  color: #000;
  padding: 1em;
  display: block;
  text-decoration: none;
}

.anim {
  width: 0px;
  height: 0px;
  position: relative;
  -webkit-animation-name: example;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 150s;
  /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 150s;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 1;
  -moz-animation-delay: 1;
  -o-animation-delay: 1;
  animation-delay: 1;
}

.anim img {
  width: 200px;
  height: 420px;
}

/* Safari 4.0 - 8.0 */

@-webkit-keyframes example {
  0% {
    left: 75%;
    top: 0em;
  }
  25% {
    left: 75%;
    top: -500em;
  }
  50% {
    left: 75%;
    top: -500em;
  }
  75% {
    left: 75%;
    top: -500em;
  }
  100% {
    left: 75%;
    top: -500em;
  }
}

/* Standard syntax */

@keyframes example {
  0% {
    left: 75%;
    top: 0em;
  }
  25% {
    left: 75%;
    top: -500em;
  }
  50% {
    left: 75%;
    top: -500em;
  }
  75% {
    left: 75%;
    top: -500em;
  }
  100% {
    left: 75%;
    top: -500em;
  }
}
