.ff {
	width: 1350px;
	height: 705px;
	background-color: white;
}

.ff_text {
list-style:none;
width: 1350px;
height: 250px;
}

.ff_text li{
	margin-top: -50px;
    display: inline-block;
    height: 220px;
}

.ff_text_sp {
  padding: 0px;
  list-style: none;
  margin: 0px;
  font-family: KennyaCoffee;
  font-size: 104px;
  overflow: hidden;
  text-align: center;
  color: red;
  word-spacing: -10px;
  height: 220px;
}

.FUN {
text-decoration: underline;
font-size: 88;
transform: translateY(-12%);
color: #3f3b48;
}

.clients {
	font-size: 18px;
	font-family: Montserrat-Bold;
	position: relative;
	left: 200px;
	width: 500px;
	margin: 0px;
	top: -40px;
}

.companies {
	position: relative;
	top: 25px;
	width: 370px;
	
}

.c1, .c2, .c3, .c4, .c5, .c6, .c7 {
	position: relative;
	background: #3f3b48;
    border-radius: 50%;
    text-align: center;
	font-family: Montserrat-Bold;
	color: white;
	z-index: 1;
}
.text-lines {height: 0;}

.t1, .t2, .t3, .t4, .t5 {
	position: relative;
	color: #333333;
	font-family: Montserrat-Bold;
	font-size: 12px;
	z-index: 1;
}

.t1 {
    left: 360px;
    bottom: 180px;
}
.t2 {	
    left: 520px;
    bottom: 140px;
}
.t3 {
    left: 695px;
    bottom: 240px;
}
.t4 {
    left: 810px;
    bottom: 405px;
}
.t5 {
    left: 960px;
    bottom: 230px;
}

.circles-lines {
	margin-top: -260px;
	height: 500px;
}

.c1 {
	top: 190px;
	left: 355px;
  width: 115px;
    height: 115px;
	line-height: 3;
	font-size: 38px;
}
.c2 {
	top: 180px;
	left: 245px;
   width: 30px;
    height: 30px;
	line-height: 7;
}
.c3 {
	top: 130px;
	left: 550px;
    width: 85px;
    height: 85px;
	line-height: 3;
	font-size: 26px;
}
.c4 {
	top: -75px;
	left: 680px;
   width: 110px;
    height: 110px;
	line-height: 3;
	font-size: 38px;
}
.c5 {
	top: -235px;
	left: 620px;
    width: 30px; 
    height: 30px;
	line-height: 7;
}
.c6 {
	top: -320px;
	left: 820px;
    width: 70px;
    height: 70px;
	line-height: 3.5;
	font-size: 21px;
}
.c7 {
	top: -325px;
	left: 925px;
   width: 195px;
    height: 195px;
	line-height: 2.5;
	font-size: 72px;
}

.hr1, .hr2, .hr3, .hr4, .hr5, .hr6 {
	position: absolute;
	width: 150px;
	height: 1px;
    background-color: #3f3b48;
    border: 0;
}

.hr1 {
	transform: rotate(155deg);
    margin-top: 165px;
    margin-left: 245px;
}
.hr2 {
	transform: rotate(30deg);
    margin-top: 155px;
    margin-left: 455px;
}
.hr3 {
    transform: rotate(140deg);
    margin-top: 50px;
    margin-left: 575px;
}
.hr4 {
    transform: rotate(40deg);
    margin-top: -170px;
    margin-left: 620px;
}
.hr5 {
	transform: rotate(135deg);
    margin-top: -235px;
    margin-left: 725px;
	}
.hr6 {
    margin-top: -230px;
    margin-left: 775px;
}