@font-face { font-family: MyriadPro-Regular; src: url(Pro.otf);}

footer {
	background-color: #3f3b48;
	width: 1350px;
	height: 90px;
	position: absolute;
}

.keksnext {display: inline; font-size: 10px;}

.rtxt {
   float: left;
   font-size: 14px;
   position: relative;
   padding: 35px 0 0 200;
   font-family: MyriadPro-Regular;
   color: white;
}

.ltxt {
   float: right;
   font-size: 14px;
   position: relative;
   padding: 35px 240 0 0;
   font-family: MyriadPro-Regular;
   color: white;
}

.keksleft {
	display: inline;
	margin-left: 10px;
	font-size: 12px;
}

.twtr {
	padding: 3px 6px 3px 6px;
    display: inline;
    margin: 7px;
    border-radius: 100%;
    text-align: center;
    border: 1px solid white;
}

.bskt { 
    padding: 3px 6px 3px 6px;
    display: inline;
    margin: 7px;
    border-radius: 100%;
    text-align: center;
    border: 1px solid white;
}

.fcbk {
	padding: 3px 7px 3px 8px;
    display: inline;
    margin: 7px;
    border-radius: 100%;
    text-align: center;
    border: 1px solid white;
}