.ourlastwork {
	background-image: url(ourlastwork_bg.png);
	width: 1350px;
	height: 800px;
	z-index: 1;
}

.olw_text {
list-style:none;
width: 1350px;
}

.olw_text_sp {
  list-style: none;
  margin-top: 0px;
  font-family: KennyaCoffee;
  font-size: 56px;
  overflow: hidden;
  text-align: center;
  margin-right:25px;
  
}

@font-face { font-family: Montserrat-Bold; src: url(Monserrat_Bold.ttf);}

.widget_list {
  text-decoration: none;
  outline: none;
  display: block;
  padding: 6px 0; 
  letter-spacing: 1px;
  margin-right: 800px;
  margin-top: -475px;
  margin-left: 200px;
  font-size: 18;
  list-style: none;
  font-family: Montserrat-Bold;
  color: white;
}

.widget_list2 {
  line-height: 2;
  text-decoration: none;
  outline: none;
  display: block;
  padding: 6px 0; 
  letter-spacing: 1px;
  margin-right: 800px;
  margin-top: -20px;
  margin-left: 200px;
  font-size: 14;
  list-style: none;
  font-family: Montserrat-Bold;
  color: white;
}

.widget_list3 {
  line-height: 1;
  text-decoration: none;
  outline: none;
  display: block;
  padding: 6px 0; 
  letter-spacing: 1px;
  margin-top: -305px;
  margin-left: 850px;
  font-size: 18px;
  list-style: none;
  font-family: Montserrat-Bold;
  color: white;
}

.bigtext {font-size: 12; font-family: Arial; color: gray; line-height: 1.5; margin-top: 30px; width: 308px}
  
.OUR {   
    transform: translateY(-200%);
    display: inline-block;
    font-family: Pacifico;
    color: white;
    font-size: 45px;
    position: absolute;
    left: 555px;
}

.ramka {
    position: relative;
    top: -305px;
    left: 620px;
}

.one, .four {
    font-family: Montserrat-Bold;
	color: white;
	position: relative;
	z-index: 1;
	letter-spacing: 2px;
}

.one {
	font-size: 18px;
	left: 642px;
    top: -210px;
}

.four {
	font-size: 12px;
	left: 678px;
    top: -250px;
}

.trapezoid1 {
    position: relative;
    border-top: 160px solid white;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    width: 35px;
    transform: rotate(270deg);
    left: 525px;
    top: 60px;
}

.trapezoid2 {
    position: relative;
    border-top: 160px solid white;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    width: 35px;
    transform: rotate(90deg);
    left: 760px;
    top: -100px;
}

 
.previous{
    position: absolute;
    transform: rotate(90deg);
    width: 150px;
    top: -70px;
    left: -57px;
    font-size: 12px;
    font-family: Montserrat-Bold;
    color: #333333;
}

.next{
    position: absolute;
    transform: rotate(270deg);
    width: 150px;
    top: -110px;
    left: -57px;
    font-size: 12px;
    font-family: Montserrat-Bold;
    color: #333333;
}

.LATEST {  position: relative; color: white; font-size: 52px;}

.WORK {font-size: 104px; color: white;}

.GALLERY {
	line-height: 1;
    text-decoration: none;
    outline: none;
    display: block;
    padding: 6px 0;
    letter-spacing: 1px;
    margin-top: 40px;
    margin-left: 850px;
    font-size: 14;
    list-style: none;
    font-family: Montserrat-Bold;
    color: white;
}

.olw_text_sp li {display: inline-block; margin-top: -40px;}

.Iphone {position:relative; top: -120px; margin-left: 570px; }

.right_text {
	margin-top: -15px;
    line-height: 1;
    text-decoration: none;
    outline: none;
    display: block;
    padding: 6px 0;
    letter-spacing: 1px;
    margin-left: 850px;
    font-size: 18;
    list-style: none;
    font-family: Montserrat-Bold;
    color: white;
}

.right_text li {display: inline-block;}

.fi {
    background: #635f6d;
    color: white;
    padding: 10px;
    border-radius: 20px 0 0 20px;
    width: 70;
    height: 90;
   }
   
.se {
	background: #635f6d;
    color: white;
    padding: 10px;
    border-radius: 0;
    width: 70;
    height: 90;
}

.th {
	background: #635f6d;
    color: white;
    padding: 10px;
    border-radius: 0 20px 20px 0;
    width: 70;
    height: 90;
}

.pe {
	text-decoration: none;
    display: block;
    text-align: center;
    font-size: 12px;
    letter-spacing: 1px;
    font-family: Monserrat-Bold;
    font-weight: bold;
    color: white;
	position: relative;
	top: 15px;
}

.kek {font-size: 40px; position: relative;
    text-align: center; top: 15px;}
